In [ ]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
# Read in data from S3 Bucket

In [ ]:
#Create temp view named "delays"

# Start the runtime

# Using spark.sql write a query that gives you the total distance and the count of every unique Origin, Dest combination

# Print out the runtime.

In [ ]:
# Write out the data in parquet format

In [ ]:
# Read in our new parquet formatted data

In [ ]:
# Convert the dataframe to a view.

In [ ]:
# Start the runtime

# Run the same query as above here

# Print out the runtime

In [ ]:
# Write out your parquet data, partitioning on the Origin column

In [ ]:
# Read in our new parquet formatted data

In [ ]:
# Convert the dataframe to a view.

In [ ]:
# Start the runtime

# Run your query against your partitioned data one more time.

# Print out the runtime.

In [ ]:
# Start  the runtime

# Filter the data on something that selects your partition choice.

# Print out the runtime.

In [ ]:
# Start  the runtime

# Filter the data on something that has nothing to do with your partition choice.

# Print out the runtime.