In [1]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,006 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,298 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,861 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,521 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,297 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,047 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Fetched 12.4 MB in 5s (2,339 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-5/DelayedFlights.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("DelayedFlights.csv"), sep=",", header=True)
# we are going to do a lookup here as well so upload the airportCodes.csv file from your Resources directory 
df_lookup=spark.read.csv('/content/airportCodes.csv', sep=',', header=True)

In [5]:
# Recall that the default shuffle partitions is 200.  We want to bring that down to a reasonable size for both our data and our Spark cluster
# 4 is reasonable for a free Colab 
spark.conf.set("spark.sql.shuffle.partitions", 4)

In [6]:
# Let's take a quick look at our delayed flight data.
df.show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|2008|    1|         3|        4| 2003.0|      1955| 2211.0|      2225|           WN|      335| N712SW|            128.0|         150.0|  116.0|   -14.0|     8.0|   IAD| TPA|     810|   4.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  1|2008|    1|         3|        4|  754.0|       735| 1002.0|      1000|           WN|     3231| N772SW|            128.0|         145.0|  113.0|     2.0|    19.0|   IAD| TPA|     810|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  2|2008|    1|         3|        4|  628.0|       620|  804.0|       750|           WN|      448| N428WN|             96.0|          90.0|   76.0|    14.0|     8.0|   IND| BWI|     515|   3.0|   17.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  4|2008|    1|         3|        4| 1829.0|      1755| 1959.0|      1925|           WN|     3920| N464WN|             90.0|          90.0|   77.0|    34.0|    34.0|   IND| BWI|     515|   3.0|   10.0|        0|               N|       0|         2.0|         0.0|     0.0|          0.0|             32.0|
|  5|2008|    1|         3|        4| 1940.0|      1915| 2121.0|      2110|           WN|      378| N726SW|            101.0|         115.0|   87.0|    11.0|    25.0|   IND| JAX|     688|   4.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  6|2008|    1|         3|        4| 1937.0|      1830| 2037.0|      1940|           WN|      509| N763SW|            240.0|         250.0|  230.0|    57.0|    67.0|   IND| LAS|    1591|   3.0|    7.0|        0|               N|       0|        10.0|         0.0|     0.0|          0.0|             47.0|
| 10|2008|    1|         3|        4|  706.0|       700|  916.0|       915|           WN|      100| N690SW|            130.0|         135.0|  106.0|     1.0|     6.0|   IND| MCO|     828|   5.0|   19.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 11|2008|    1|         3|        4| 1644.0|      1510| 1845.0|      1725|           WN|     1333| N334SW|            121.0|         135.0|  107.0|    80.0|    94.0|   IND| MCO|     828|   6.0|    8.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             72.0|
| 15|2008|    1|         3|        4| 1029.0|      1020| 1021.0|      1010|           WN|     2272| N263WN|             52.0|          50.0|   37.0|    11.0|     9.0|   IND| MDW|     162|   6.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 16|2008|    1|         3|        4| 1452.0|      1425| 1640.0|      1625|           WN|      675| N286WN|            228.0|         240.0|  213.0|    15.0|    27.0|   IND| PHX|    1489|   7.0|    8.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             12.0|
| 17|2008|    1|         3|        4|  754.0|       745|  940.0|       955|           WN|     1144| N778SW|            226.0|         250.0|  205.0|   -15.0|     9.0|   IND| PHX|    1489|   5.0|   16.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 18|2008|    1|         3|        4| 1323.0|      1255| 1526.0|      1510|           WN|        4| N674AA|            123.0|         135.0|  110.0|    16.0|    28.0|   IND| TPA|     838|   4.0|    9.0|        0|               N|       0|         0.0|         0.0|     0.0|          0.0|             16.0|
| 19|2008|    1|         3|        4| 1416.0|      1325| 1512.0|      1435|           WN|       54| N643SW|             56.0|          70.0|   49.0|    37.0|    51.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        12.0|         0.0|     0.0|          0.0|             25.0|
| 21|2008|    1|         3|        4| 1657.0|      1625| 1754.0|      1735|           WN|      623| N724SW|             57.0|          70.0|   47.0|    19.0|    32.0|   ISP| BWI|     220|   5.0|    5.0|        0|               N|       0|         7.0|         0.0|     0.0|          0.0|             12.0|
| 22|2008|    1|         3|        4| 1900.0|      1840| 1956.0|      1950|           WN|      717| N786SW|             56.0|          70.0|   49.0|     6.0|    20.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 23|2008|    1|         3|        4| 1039.0|      1030| 1133.0|      1140|           WN|     1244| N714CB|             54.0|          70.0|   47.0|    -7.0|     9.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 25|2008|    1|         3|        4| 1520.0|      1455| 1619.0|      1605|           WN|     2553| N394SW|             59.0|          70.0|   50.0|    14.0|    25.0|   ISP| BWI|     220|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 26|2008|    1|         3|        4| 1422.0|      1255| 1657.0|      1610|           WN|      188| N215WN|            155.0|         195.0|  143.0|    47.0|    87.0|   ISP| FLL|    1093|   6.0|    6.0|        0|               N|       0|        40.0|         0.0|     0.0|          0.0|              7.0|
| 27|2008|    1|         3|        4| 1954.0|      1925| 2239.0|      2235|           WN|     1754| N243WN|            165.0|         190.0|  155.0|     4.0|    29.0|   ISP| FLL|    1093|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 30|2008|    1|         3|        4| 2107.0|      1945| 2334.0|      2230|           WN|      362| N798SW|            147.0|         165.0|  134.0|    64.0|    82.0|   ISP| MCO|     972|   6.0|    7.0|        0|               N|       0|         5.0|         0.0|     0.0|          0.0|             59.0|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [7]:
# And, our our new lookup table data.
df_lookup.show()

+--------------+--------------------+-----------+
|          City|             country|airportCode|
+--------------+--------------------+-----------+
|       Aalborg|             Denmark|        AAL|
|      Aalesund|              Norway|        AES|
|        Aarhus|             Denmark|        AAR|
|Abbotsford, BC|              Canada|        YXX|
|Abbotsford, BC|              Canada|        YXX|
|      Aberdeen|            Scotland|        ABZ|
|  Aberdeen, SD|                 USA|        ABR|
|       Abidjan|         Ivory Coast|        ABJ|
|   Abilene, TX|                 USA|        ABI|
|     Abu Dhabi|United Arab Emirates|        AUH|
|         Abuja|             Nigeria|        ABV|
|      Acapulco|              Mexico|        ACA|
|         Accra|               Ghana|        ACC|
|         Adana|              Turkey|        ADA|
|   Addis Ababa|            Ethiopia|        ADD|
|Adelaide, S.A.|           Australia|        ADL|
|          Aden|               Yemen|        ADE|
|      Adiyaman|              Turkey|        ADF|
|        Agadir|             Morocco|        AGA|
|         Agana|                Guam|        GUM|
+--------------+--------------------+-----------+
only showing top 20 rows

In [8]:
#Create temporary views for each of our dataframes
df.createOrReplaceTempView('delayed')
df_lookup.createOrReplaceTempView('lookup')

In [9]:
# This first query simply joins our new lookup data to our delayed fligts table
# By default Spark does a broadcast join when the Join table is < 10MB.  This is configurable
# but since our table is VERY small, it will auto-broadcast. 

start_time = time.time()

spark.sql("""
select a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
a.Dest,
c.City as Dest_City,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from delayed a 
  inner join lookup b
    on a.Origin=b.airportCode
  inner join lookup c
    on a.Dest=c.airportCode
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|    Origin_City|Dest|      Dest_City|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        5| 2003.0|      1845| 2207.0|      2040|           WN|      746| N667SW|             64.0|          55.0|   44.0|    87.0|    78.0|   ABQ|Albuquerque, NM| AMA|   Amarillo, TX|     277|   5.0|   15.0|        0|               N|       0|         0.0|         0.0|     9.0|          0.0|             78.0|
|2008|    1|         4|        5| 1332.0|      1325| 1437.0|      1440|           WN|      182| N313SW|             65.0|          75.0|   54.0|    -3.0|     7.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1020.0|      1005| 1128.0|      1120|           WN|      733| N650SW|             68.0|          75.0|   58.0|     8.0|    15.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1831.0|      1820| 1941.0|      1935|           WN|     1861| N783SW|             70.0|          75.0|   57.0|     6.0|    11.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1758.0|      1750| 2051.0|      2040|           WN|     2036| N660SW|            113.0|         110.0|  100.0|    11.0|     8.0|   BHM| Birmingham, AL| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5|  836.0|       830|  943.0|       940|           WN|      922| N650SW|             67.0|          70.0|   55.0|     3.0|     6.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   2.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1652.0|      1645| 1755.0|      1755|           WN|     1774| N783SW|             63.0|          70.0|   51.0|     0.0|     7.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   5.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1035.0|      1025| 1143.0|      1135|           WN|     3569| N276WN|             68.0|          70.0|   53.0|     8.0|    10.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1828.0|      1805| 1917.0|      1915|           WN|      623| N757LV|            109.0|         130.0|   97.0|     2.0|    23.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1317.0|      1310| 1401.0|      1420|           WN|     1857| N280WN|            104.0|         130.0|   95.0|   -19.0|     7.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 2001.0|      1845| 2150.0|      2040|           WN|      746| N412WN|             49.0|          55.0|   39.0|    70.0|    76.0|   ABQ|Albuquerque, NM| AMA|   Amarillo, TX|     277|   4.0|    6.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             67.0|
|2008|    1|         5|        6| 1124.0|      1005| 1227.0|      1120|           WN|      733| N794SW|             63.0|          75.0|   50.0|    67.0|    79.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2008|    1|         5|        6| 1544.0|      1515| 1654.0|      1630|           WN|     3046| N723SW|             70.0|          75.0|   56.0|    24.0|    29.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   4.0|   10.0|        0|               N|       0|        11.0|         0.0|     0.0|          0.0|             13.0|
|2008|    1|         5|        6| 1426.0|      1415| 1832.0|      1815|           WN|     1001| N366SW|            186.0|         180.0|  164.0|    17.0|    11.0|   AUS|     Austin, TX| BWI|  Baltimore, MD|    1342|   4.0|   18.0|        0|               N|       0|         0.0|         0.0|     6.0|          0.0|             11.0|
|2008|    1|         5|        6| 1806.0|      1750| 2047.0|      2040|           WN|     2036| N614SW|            101.0|         110.0|   88.0|     7.0|    16.0|   BHM| Birmingham, AL| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1508.0|      1425| 1719.0|      1655|           WN|      644| N737JW|            251.0|         270.0|  237.0|    24.0|    43.0|   BWI|  Baltimore, MD| ABQ|Albuquerque, NM|    1670|   5.0|    9.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             16.0|
|2008|    1|         5|        6| 1808.0|      1755| 1909.0|      1905|           WN|      236| N708SA|             61.0|          70.0|   49.0|     4.0|    13.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1359.0|      1340| 1506.0|      1450|           WN|      323| N723SW|             67.0|          70.0|   53.0|    16.0|    19.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   3.0|   11.0|        0|               N|       0|         6.0|         0.0|     0.0|          0.0|             10.0|
|2008|    1|         5|        6| 1433.0|      1420| 1700.0|      1710|           WN|      160| N264LV|            207.0|         230.0|  196.0|   -10.0|    13.0|   BWI|  Baltimore, MD| AUS|     Austin, TX|    1342|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1814.0|      1805| 1910.0|      1915|           WN|      623| N624SW|            116.0|         130.0|  105.0|    -5.0|     9.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

--- 1.9353771209716797 seconds ---

In [10]:
# Here we have added the hint to Broadcast the lookup table.  
start_time = time.time()

spark.sql("""
select /*+ BROADCAST(lookup) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
a.Dest,
c.City as Dep_City,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup b
    on a.Origin=b.airportCode
  inner join lookup c
    on a.Dest=c.airportCode
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|    Origin_City|Dest|       Dep_City|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        5| 2003.0|      1845| 2207.0|      2040|           WN|      746| N667SW|             64.0|          55.0|   44.0|    87.0|    78.0|   ABQ|Albuquerque, NM| AMA|   Amarillo, TX|     277|   5.0|   15.0|        0|               N|       0|         0.0|         0.0|     9.0|          0.0|             78.0|
|2008|    1|         4|        5| 1332.0|      1325| 1437.0|      1440|           WN|      182| N313SW|             65.0|          75.0|   54.0|    -3.0|     7.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1020.0|      1005| 1128.0|      1120|           WN|      733| N650SW|             68.0|          75.0|   58.0|     8.0|    15.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1831.0|      1820| 1941.0|      1935|           WN|     1861| N783SW|             70.0|          75.0|   57.0|     6.0|    11.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1758.0|      1750| 2051.0|      2040|           WN|     2036| N660SW|            113.0|         110.0|  100.0|    11.0|     8.0|   BHM| Birmingham, AL| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5|  836.0|       830|  943.0|       940|           WN|      922| N650SW|             67.0|          70.0|   55.0|     3.0|     6.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   2.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1652.0|      1645| 1755.0|      1755|           WN|     1774| N783SW|             63.0|          70.0|   51.0|     0.0|     7.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   5.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1035.0|      1025| 1143.0|      1135|           WN|     3569| N276WN|             68.0|          70.0|   53.0|     8.0|    10.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1828.0|      1805| 1917.0|      1915|           WN|      623| N757LV|            109.0|         130.0|   97.0|     2.0|    23.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1317.0|      1310| 1401.0|      1420|           WN|     1857| N280WN|            104.0|         130.0|   95.0|   -19.0|     7.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 2001.0|      1845| 2150.0|      2040|           WN|      746| N412WN|             49.0|          55.0|   39.0|    70.0|    76.0|   ABQ|Albuquerque, NM| AMA|   Amarillo, TX|     277|   4.0|    6.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             67.0|
|2008|    1|         5|        6| 1124.0|      1005| 1227.0|      1120|           WN|      733| N794SW|             63.0|          75.0|   50.0|    67.0|    79.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2008|    1|         5|        6| 1544.0|      1515| 1654.0|      1630|           WN|     3046| N723SW|             70.0|          75.0|   56.0|    24.0|    29.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   4.0|   10.0|        0|               N|       0|        11.0|         0.0|     0.0|          0.0|             13.0|
|2008|    1|         5|        6| 1426.0|      1415| 1832.0|      1815|           WN|     1001| N366SW|            186.0|         180.0|  164.0|    17.0|    11.0|   AUS|     Austin, TX| BWI|  Baltimore, MD|    1342|   4.0|   18.0|        0|               N|       0|         0.0|         0.0|     6.0|          0.0|             11.0|
|2008|    1|         5|        6| 1806.0|      1750| 2047.0|      2040|           WN|     2036| N614SW|            101.0|         110.0|   88.0|     7.0|    16.0|   BHM| Birmingham, AL| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1508.0|      1425| 1719.0|      1655|           WN|      644| N737JW|            251.0|         270.0|  237.0|    24.0|    43.0|   BWI|  Baltimore, MD| ABQ|Albuquerque, NM|    1670|   5.0|    9.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             16.0|
|2008|    1|         5|        6| 1808.0|      1755| 1909.0|      1905|           WN|      236| N708SA|             61.0|          70.0|   49.0|     4.0|    13.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1359.0|      1340| 1506.0|      1450|           WN|      323| N723SW|             67.0|          70.0|   53.0|    16.0|    19.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   3.0|   11.0|        0|               N|       0|         6.0|         0.0|     0.0|          0.0|             10.0|
|2008|    1|         5|        6| 1433.0|      1420| 1700.0|      1710|           WN|      160| N264LV|            207.0|         230.0|  196.0|   -10.0|    13.0|   BWI|  Baltimore, MD| AUS|     Austin, TX|    1342|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1814.0|      1805| 1910.0|      1915|           WN|      623| N624SW|            116.0|         130.0|  105.0|    -5.0|     9.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

--- 0.7457966804504395 seconds ---

In [11]:
# In this sql query we are trying to give the cluster some work to do.  
# We are creating a CTE that joins the 2 tables together and then does some aggregations by averaging the delays

start_time = time.time()

spark.sql("""
with allColumns
(select /*+ BROADCAST(lookup) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
a.Dest,
c.City as Dep_City,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup b
    on a.Origin=b.airportCode
  inner join lookup c
    on a.Dest=c.airportCode
)
select Origin_City, avg(ArrDelay) avgDelay from allColumns group by 1
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+------------------+
|      Origin_City|          avgDelay|
+-----------------+------------------+
|  Albuquerque, NM| 34.16695059625213|
|       Austin, TX| 44.39871382636656|
|     Amarillo, TX| 42.94736842105263|
|  Baton Rouge, LA| 63.06401137980085|
|    Allentown, PA|            50.192|
|    Asheville, NC| 58.58413461538461|
|  Bloomington, IL| 50.65745007680491|
|    Anchorage, AK| 36.90522875816993|
|    Baltimore, MD| 41.57686980609418|
|      Atlanta, GA| 41.65309675814609|
|       Bangor, ME| 53.30357142857143|
|      Augusta, GA|61.791666666666664|
|       Albany, GA|50.907534246575345|
|      Bozeman, MT| 44.65217391304348|
|        Aspen, CO|              52.8|
|       Albany, NY| 43.70686070686071|
|       Boston, MA| 50.85264194289465|
|        Akron, OH|53.393058918482645|
|Atlantic City, NJ| 64.64285714285714|
|   Birmingham, AL|46.458149779735685|
+-----------------+------------------+
only showing top 20 rows

--- 7.504305124282837 seconds ---

In [12]:
# Next, we are use SparkSQL to cache our table
# Note: when we use SparkSQL to cache a table, the table is immediately cached (no lazy evaluation), when using Pyspark it will not be cached until an action is ran.
spark.sql("cache table delayed")

DataFrame[]

In [13]:
# This command checks that our table is cached
# It will return True if it is cached.
spark.catalog.isCached("delayed")

True

In [14]:
# Running the same query with the data cached, should greatly improve the run time.

start_time = time.time()

spark.sql("""
with allColumns
(select /*+ BROADCAST(lookup) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
a.Dest,
c.City as Dep_City,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup b
    on a.Origin=b.airportCode
  inner join lookup c
    on a.Dest=c.airportCode
)
select Origin_City, avg(ArrDelay) avgDelay from allColumns group by 1""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+------------------+
|      Origin_City|          avgDelay|
+-----------------+------------------+
|  Albuquerque, NM| 34.16695059625213|
|       Austin, TX| 44.39871382636656|
|     Amarillo, TX| 42.94736842105263|
|  Baton Rouge, LA| 63.06401137980085|
|    Allentown, PA|            50.192|
|    Asheville, NC| 58.58413461538461|
|  Bloomington, IL| 50.65745007680491|
|    Anchorage, AK| 36.90522875816993|
|    Baltimore, MD| 41.57686980609418|
|      Atlanta, GA| 41.65309675814609|
|       Bangor, ME| 53.30357142857143|
|      Augusta, GA|61.791666666666664|
|       Albany, GA|50.907534246575345|
|      Bozeman, MT| 44.65217391304348|
|        Aspen, CO|              52.8|
|       Albany, NY| 43.70686070686071|
|       Boston, MA| 50.85264194289465|
|        Akron, OH|53.393058918482645|
|Atlantic City, NJ| 64.64285714285714|
|   Birmingham, AL|46.458149779735685|
+-----------------+------------------+
only showing top 20 rows

--- 2.323925256729126 seconds ---

In [15]:
# Remember to uncache the table as soon as you are done.
spark.sql("uncache table delayed")

DataFrame[]

In [16]:
#Verify that the table is no longer cached
spark.catalog.isCached("delayed")

False