In [1]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [89.9 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,533 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,937 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,100 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,077 kB]
Get:18 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [903 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,064 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,141 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Get:23 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,310 kB]
Fetched 16.9 MB in 6s (3,049 kB/s)
Reading package lists... Done

In [2]:
# Install great expectations
!pip install great_expectations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting great_expectations
  Downloading great_expectations-0.15.18-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 30.6 MB/s
Collecting makefun<2,>=1.7.0
  Downloading makefun-1.14.0-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: mistune>=0.8.4 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (0.8.4)
Requirement already satisfied: tqdm>=4.59.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.64.0)
Collecting cryptography>=3.2
  Downloading cryptography-37.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 53.6 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from great_expectations) (21.3)
Requirement already satisfied: Click>=7.1.2 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (7.1.2)
Collecting notebook>=6.4.10
  Downloading notebook-6.4.12-py3-none-any.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 31.1 MB/s
Collecting Ipython>=7.16.3
  Downloading ipython-7.34.0-py3-none-any.whl (793 kB)
     |████████████████████████████████| 793 kB 65.2 MB/s
Requirement already satisfied: importlib-metadata>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.12.0)
Requirement already satisfied: tzlocal>=1.2 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.5.1)
Requirement already satisfied: pytz>=2021.3 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2022.1)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.11-py2.py3-none-any.whl (139 kB)
     |████████████████████████████████| 139 kB 63.5 MB/s
Requirement already satisfied: nbformat>=5.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (5.4.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.1.1)
Collecting colorama>=0.4.3
  Downloading colorama-0.4.5-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2.8.2)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.3.5)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.21.6)
Collecting pyparsing<3,>=2.4
  Downloading pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 6.9 MB/s
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (7.7.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.1.0)
Requirement already satisfied: altair<5,>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.2.0)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.7.3)
Collecting ruamel.yaml<0.17.18,>=0.16
  Downloading ruamel.yaml-0.17.17-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 67.8 MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2.23.0)
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2.11.3)
Collecting jsonpatch>=1.22
  Downloading jsonpatch-1.32-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: jsonschema>=2.5.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair<5,>=4.0.0->great_expectations) (0.12.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair<5,>=4.0.0->great_expectations) (0.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=3.2->great_expectations) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=3.2->great_expectations) (2.21)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.7.0->great_expectations) (3.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (4.4.2)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Downloading prompt_toolkit-3.0.30-py3-none-any.whl (381 kB)
     |████████████████████████████████| 381 kB 62.4 MB/s
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (57.4.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.1.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.18.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (1.1.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (4.10.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (0.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->great_expectations) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->great_expectations) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->Ipython>=7.16.3->great_expectations) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.10->great_expectations) (2.0.1)
Collecting jsonpointer>=1.9
  Downloading jsonpointer-2.3-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.5.1->great_expectations) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.5.1->great_expectations) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.5.1->great_expectations) (5.9.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.0->great_expectations) (2.16.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.0->great_expectations) (4.11.1)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (0.13.3)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (1.5.5)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (0.14.1)
Collecting tornado>=4.0
  Downloading tornado-6.2-cp37-abi3-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (423 kB)
     |████████████████████████████████| 423 kB 49.2 MB/s
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (5.6.1)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (1.8.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (21.3.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (23.2.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (5.0.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.6.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->Ipython>=7.16.3->great_expectations) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->Ipython>=7.16.3->great_expectations) (0.2.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.8.1->great_expectations) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->great_expectations) (2.10)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 40.6 MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->great_expectations) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->great_expectations) (2022.6.15)
Collecting ruamel.yaml.clib>=0.1.2
  Downloading ruamel.yaml.clib-0.2.6-cp37-cp37m-manylinux1_x86_64.whl (546 kB)
     |████████████████████████████████| 546 kB 78.1 MB/s
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.7/dist-packages (from argon2-cffi->notebook>=6.4.10->great_expectations) (21.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=5->notebook>=6.4.10->great_expectations) (0.5.1)
Installing collected packages: tornado, prompt-toolkit, Ipython, notebook, urllib3, ruamel.yaml.clib, pyparsing, jsonpointer, ruamel.yaml, makefun, jsonpatch, cryptography, colorama, great-expectations
  Attempting uninstall: tornado
    Found existing installation: tornado 5.1.1
    Uninstalling tornado-5.1.1:
      Successfully uninstalled tornado-5.1.1
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Attempting uninstall: Ipython
    Found existing installation: ipython 5.5.0
    Uninstalling ipython-5.5.0:
      Successfully uninstalled ipython-5.5.0
  Attempting uninstall: notebook
    Found existing installation: notebook 5.3.1
    Uninstalling notebook-5.3.1:
      Successfully uninstalled notebook-5.3.1
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: pyparsing
    Found existing installation: pyparsing 3.0.9
    Uninstalling pyparsing-3.0.9:
      Successfully uninstalled pyparsing-3.0.9
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyter-console 5.2.0 requires prompt-toolkit<2.0.0,>=1.0.0, but you have prompt-toolkit 3.0.30 which is incompatible.
google-colab 1.0.0 requires ipython~=5.5.0, but you have ipython 7.34.0 which is incompatible.
google-colab 1.0.0 requires notebook~=5.3.0, but you have notebook 6.4.12 which is incompatible.
google-colab 1.0.0 requires tornado~=5.1.0, but you have tornado 6.2 which is incompatible.
Successfully installed Ipython-7.34.0 colorama-0.4.5 cryptography-37.0.4 great-expectations-0.15.18 jsonpatch-1.32 jsonpointer-2.3 makefun-1.14.0 notebook-6.4.12 prompt-toolkit-3.0.30 pyparsing-2.4.7 ruamel.yaml-0.17.17 ruamel.yaml.clib-0.2.6 tornado-6.2 urllib3-1.25.11

In [3]:
# Import SparkSession and great expectations 
from pyspark.sql import SparkSession
import great_expectations as ge

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
# Start Spark session
from pyspark import SparkFiles

In [4]:
# Read the data into a Spark DataFrame.
employees_df = spark.read.csv('/content/attrition.csv', sep=',', header=True)
employees_df.show()

+-----+---+---------+-----------------+---------+----------+---------+-------+----------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+-------------+---------------+
|   id|Age|Attrition|   BusinessTravel|DailyRate|Department|Education|JobRole|DistanceFromHome|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|StandardHours|WorkLifeBalance|
+-----+---+---------+-----------------+---------+----------+---------+-------+----------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+-------------+---------------+
|12378| 35|      Yes|Travel_Frequently|      502|         S|        a|      l|               5|                      4|     F|        48|             4|       2|              5|     Divorced|         9200|      10448|                 2|     Y|     Yes|                5|                1|           80|              1|
|12379| 42|       No|       Non-Travel|      497|         S|        a|      l|               3|                      3|     F|        50|             4|       3|              5|       Single|        10719|       9049|                 3|     Y|      No|                7|                2|           80|              4|
|12380| 34|       No|       Non-Travel|      505|         T|        e|      c|               4|                      3|     M|        46|             2|       3|              5|       Single|         9843|       9941|                 3|     Y|      No|               10|                3|           80|              1|
|12381| 43|       No|       Non-Travel|      493|         T|        e|      c|               5|                      2|     F|        48|             3|       1|              5|     Divorced|        12077|      10150|                 5|     Y|     Yes|                1|                3|           80|              4|
|12382| 43|      Yes|    Travel_Rarely|      536|         R|        e|      s|               4|                      4|     M|        53|             2|       3|              2|       Single|        10486|      10008|                 2|     Y|      No|                9|                1|           80|              3|
|12383| 44|       No|       Non-Travel|      511|         S|        a|      l|               6|                      2|     F|        49|             4|       2|              2|      Married|        10512|       9021|                 4|     Y|     Yes|                9|                2|           80|              3|
|12384| 51|       No|       Non-Travel|      527|         T|        e|      c|               6|                      3|     F|        49|             4|       3|              3|       Single|        11769|       9672|                 2|     Y|      No|               17|                1|           80|              3|
|12385| 49|       No|       Non-Travel|      516|         R|        e|      s|               2|                      3|     F|        49|             4|       3|              3|      Married|        11628|       9242|                 3|     Y|      No|                4|                1|           80|              2|
|12386| 40|      Yes|Travel_Frequently|      504|         S|        a|      l|               4|                      3|     F|        49|             4|       1|              4|     Divorced|         9849|      12045|                 2|     Y|      No|               22|                1|           80|              3|
|12387| 38|       No|       Non-Travel|      496|         S|        a|      l|               5|                      4|     F|        49|             4|       1|              5|      Married|         9666|      10949|                 3|     Y|      No|               17|                3|           80|              3|
|12388| 42|       No|    Travel_Rarely|      490|         R|        e|      s|               3|                      3|     F|        50|             4|       3|              4|      Married|        10692|       8043|                 4|     Y|     Yes|               14|                2|           80|              1|
|12389| 30|       No|       Non-Travel|      510|         T|        e|      c|               2|                      3|     M|        48|             3|       1|              2|      Married|        11448|      10020|                 2|     Y|      No|               11|                3|           80|              3|
|12390| 65|       No|       Non-Travel|      505|         T|        e|      c|               4|                      4|     M|        50|             2|       1|              2|      Married|         9714|      11179|                 2|     Y|      No|               10|                3|           80|              2|
|12391| 39|       No|       Non-Travel|      507|         S|        a|      l|               3|                      3|     M|        53|             4|       3|              5|       Single|        10215|      11106|                 4|     Y|     Yes|               11|                1|           80|              3|
|12392| 28|       No|       Non-Travel|      483|         T|        e|      c|               4|                      2|     M|        44|             3|       3|              2|     Divorced|        10242|      10723|                 3|     Y|      No|                3|                3|           80|              3|
|12393| 30|       No|       Non-Travel|      492|         T|        e|      c|               3|                      3|     F|        51|             4|       2|              2|      Married|        10057|      11020|                 1|     Y|      No|                5|                2|           80|              3|
|12394| 36|       No|    Travel_Rarely|      486|         S|        a|      l|               6|                      4|     M|        48|             4|       3|              5|     Divorced|        10442|       9681|                 2|     Y|      No|               14|                3|           80|              3|
|12395| 60|       No|       Non-Travel|      494|         S|        a|      l|               4|                      4|     F|        49|             4|       3|              5|       Single|         7969|       7797|                 1|     Y|      No|               10|                2|           80|              2|
|12396| 50|       No|       Non-Travel|      495|         R|        e|      s|               6|                      4|     M|        48|             4|       2|              3|      Married|         8773|      10747|                 2|     Y|      No|                7|                2|           80|              2|
|12397| 38|       No|       Non-Travel|      503|         R|        e|      s|               2|                      2|     M|        48|             4|       2|              2|     Divorced|        10564|      11221|                 1|     Y|     Yes|               11|                3|           80|              2|
+-----+---+---------+-----------------+---------+----------+---------+-------+----------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+-------------+---------------+
only showing top 20 rows

In [5]:
# Save the column names to a list. 
columns = employees_df.schema.names
print(columns)

['id', 'Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'Education', 'JobRole', 'DistanceFromHome', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'StandardHours', 'WorkLifeBalance']

In [6]:
# Create the Great Expectations DataFrame
employees_df_ge = ge.dataset.SparkDFDataset(employees_df)
employees_df_ge.head()

,id,Age,Attrition,BusinessTravel,DailyRate,Department,Education,JobRole,DistanceFromHome,EnvironmentSatisfaction,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,12378,35,Yes,Travel_Frequently,502,S,a,l,5,4,...,Divorced,9200,10448,2,Y,Yes,5,1,80,1
1,12379,42,No,Non-Travel,497,S,a,l,3,3,...,Single,10719,9049,3,Y,No,7,2,80,4
2,12380,34,No,Non-Travel,505,T,e,c,4,3,...,Single,9843,9941,3,Y,No,10,3,80,1
3,12381,43,No,Non-Travel,493,T,e,c,5,2,...,Divorced,12077,10150,5,Y,Yes,1,3,80,4
4,12382,43,Yes,Travel_Rarely,536,R,e,s,4,4,...,Single,10486,10008,2,Y,No,9,1,80,3

In [7]:
# Test that each column doesn't contain null values. If a column does contain null values print out the column name.
results = []
for column in columns:
  results.append(employees_df_ge.expect_column_values_to_not_be_null(column=column)['success'])
false_index = results.index(False)
print(columns[false_index])

Over18

In [8]:
# Use a function to remove the null values and bad data from a temporary view and save the data with null values to a parquet file. 
def clean_data():
  employees_df.createOrReplaceTempView('employees')
  employee_null_df = spark.sql(
      """
      SELECT
        *
      FROM employees
      WHERE Over18 IS NULL 
            OR Attrition == "Yes" 
            OR StandardHours < 80
            OR Age < 18
      """
  )
  employee_null_df.createOrReplaceTempView('removed_employees')
  employee_null_df.write.mode("overwrite").parquet("removed_employees_parquet")
  print("Bad records found and written to a temporary view, 'removed_employees', and parquet , 'removed_employees_parquet'.")

In [9]:
# Retrieve the "success" fields for the columns that meet the criteria in the clean_data() function.
result = []
result.append(employees_df_ge.expect_column_values_to_not_be_null('Over18')['success'])
result.append(employees_df_ge.expect_column_values_to_be_in_set('Attrition', ['Yes'])['success'])
result.append(employees_df_ge.expect_column_values_to_be_between('StandardHours', 0, 80)['success'])
result.append(employees_df_ge.expect_column_values_to_be_between('Age', 0, 18)['success'])
# If the columns meet the criteria call the clean_data() function.
if False in result:
  clean_data()
else:
  print("success")

Bad records found and written to a temporary view, 'removed_employees', and parquet , 'removed_employees_parquet'.

In [10]:
# Read in our customers parquet data
removed_employees_df=spark.read.parquet('removed_employees_parquet')
removed_employees_df.show(truncate=False)
# Get the number of rows. 
print(removed_employees_df.count())

+-----+---+---------+-----------------+---------+----------+---------+-------+----------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+-------------+---------------+
|id   |Age|Attrition|BusinessTravel   |DailyRate|Department|Education|JobRole|DistanceFromHome|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|StandardHours|WorkLifeBalance|
+-----+---+---------+-----------------+---------+----------+---------+-------+----------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+-------------+---------------+
|12378|35 |Yes      |Travel_Frequently|502      |S         |a        |l      |5               |4                      |F     |48        |4             |2       |5              |Divorced     |9200         |10448      |2                 |Y     |Yes     |5                |1                |80           |1              |
|12382|43 |Yes      |Travel_Rarely    |536      |R         |e        |s      |4               |4                      |M     |53        |2             |3       |2              |Single       |10486        |10008      |2                 |Y     |No      |9                |1                |80           |3              |
|12386|40 |Yes      |Travel_Frequently|504      |S         |a        |l      |4               |3                      |F     |49        |4             |1       |4              |Divorced     |9849         |12045      |2                 |Y     |No      |22               |1                |80           |3              |
|12403|36 |Yes      |Travel_Rarely    |494      |R         |e        |s      |6               |4                      |M     |47        |2             |1       |5              |Married      |10157        |10975      |4                 |Y     |Yes     |10               |3                |80           |3              |
|12404|40 |Yes      |Non-Travel       |493      |R         |e        |s      |4               |4                      |F     |46        |3             |3       |2              |Married      |9935         |11655      |2                 |Y     |Yes     |4                |1                |80           |3              |
|12406|50 |Yes      |Non-Travel       |482      |R         |e        |s      |6               |4                      |M     |48        |2             |1       |3              |Married      |10204        |8678       |3                 |Y     |No      |4                |2                |80           |2              |
|12428|42 |Yes      |Non-Travel       |466      |T         |e        |c      |5               |4                      |F     |48        |3             |2       |2              |Single       |9763         |8469       |2                 |Y     |Yes     |8                |3                |80           |3              |
|12433|64 |Yes      |Non-Travel       |489      |S         |a        |l      |3               |4                      |F     |51        |4             |1       |2              |Married      |10777        |9917       |1                 |Y     |Yes     |4                |1                |80           |3              |
|12436|15 |No       |Non-Travel       |504      |R         |e        |s      |1               |3                      |M     |45        |3             |1       |5              |Married      |10729        |10859      |0                 |Y     |No      |17               |3                |80           |2              |
|12438|50 |No       |Non-Travel       |505      |R         |e        |s      |4               |4                      |F     |55        |2             |2       |3              |Single       |9926         |9246       |2                 |Y     |No      |15               |2                |40           |3              |
|12439|46 |Yes      |Non-Travel       |508      |R         |e        |s      |7               |2                      |M     |49        |5             |1       |4              |Married      |8591         |11253      |3                 |Y     |Yes     |6                |2                |80           |3              |
|12442|57 |Yes      |Non-Travel       |490      |S         |a        |l      |5               |3                      |M     |48        |3             |2       |5              |Married      |8112         |10494      |4                 |Y     |Yes     |0                |3                |80           |2              |
|12444|58 |Yes      |Non-Travel       |502      |R         |e        |s      |4               |5                      |F     |50        |2             |3       |5              |Married      |9702         |11793      |3                 |Y     |No      |8                |4                |80           |3              |
|12445|37 |Yes      |Non-Travel       |497      |T         |e        |c      |5               |4                      |F     |53        |3             |2       |2              |Single       |9534         |11318      |0                 |Y     |Yes     |7                |1                |80           |2              |
|12452|43 |Yes      |Non-Travel       |491      |T         |e        |c      |5               |4                      |F     |49        |4             |1       |2              |Married      |9420         |12018      |2                 |Y     |Yes     |6                |3                |80           |3              |
|12453|51 |Yes      |Non-Travel       |503      |T         |e        |c      |5               |5                      |M     |50        |5             |3       |2              |Married      |10192        |11267      |2                 |Y     |Yes     |6                |1                |80           |3              |
|12464|44 |Yes      |Non-Travel       |498      |S         |a        |l      |4               |4                      |M     |47        |3             |2       |4              |Married      |9699         |10243      |3                 |Y     |No      |8                |2                |80           |3              |
|12465|49 |Yes      |Non-Travel       |494      |R         |e        |s      |4               |4                      |M     |50        |3             |3       |5              |Married      |10354        |11058      |3                 |Y     |Yes     |17               |2                |80           |3              |
|12468|42 |No       |Non-Travel       |516      |T         |e        |c      |4               |4                      |F     |48        |2             |1       |4              |Married      |9113         |8785       |3                 |Y     |No      |10               |2                |40           |3              |
|12470|40 |No       |Non-Travel       |496      |S         |a        |l      |6               |2                      |M     |50        |3             |3       |4              |Divorced     |9439         |10266      |1                 |null  |No      |11               |3                |80           |3              |
+-----+---+---------+-----------------+---------+----------+---------+-------+----------------+-----------------------+------+----------+--------------+--------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+-------------+---------------+
only showing top 20 rows

247

In [13]:
# Use a function to transform the employees temporary view if the id is not in the removed_employees.
def transform_data():
  transformed_df = spark.sql(
      """
      SELECT
        id,
        Attrition,
        BusinessTravel,
        DailyRate,
        Department,
        JobRole,
        HourlyRate,
        MonthlyIncome,
        MonthlyRate,
        OverTime,
        PercentSalaryHike,
        PerformanceRating,
        StandardHours,
        UNIX_TIMESTAMP() AS Created_At,
        UNIX_TIMESTAMP() AS Updated_at,
        'From Client' AS Source
      FROM employees
      WHERE id not in (select id from removed_employees)
      """
  )
  return transformed_df

In [14]:
# Call the transformation function and convert the transformed DataFrame into a Great Expectations DataFrame
transformed_df = transform_data()
transformed_df_ge = ge.dataset.SparkDFDataset(transformed_df)
# Retrieve the "success" fields for the transformed DataFrame.
transformed_result = []
transformed_result.append(transformed_df_ge.expect_table_column_count_to_equal(16)['success'])
transformed_result.append(transformed_df_ge.expect_column_values_to_not_be_null('Source')['success'])
transformed_result.append(transformed_df_ge.expect_column_values_to_not_be_null('Created_At')['success'])
transformed_result.append(transformed_df_ge.expect_column_values_to_not_be_null('Updated_At')['success'])
transformed_result.append(transformed_df_ge.expect_column_values_to_be_in_set('Attrition', ['No'])['success'])
transformed_result.append(transformed_df_ge.expect_column_values_to_be_between('StandardHours', 80, 150)['success'])
# If the "success" field is 'False' print "Failed", if not then write the transformed DataFrame to a parquet file.
if False in transformed_result:
  print('Failed')
else:
  transformed_df.write.mode("overwrite").parquet("employee_parquet")
  print("Success: Wrote the transformed data to a parquet file, 'employee_parquet'")

Success: Wrote the transformed data to a parquet file, 'employee_parquet'

In [15]:
# Read in our customers parquet data
employees_df=spark.read.parquet('employee_parquet')
employees_df.show(truncate=False)
# Get the number of rows. 
print(employees_df.count())

+-----+---------+-----------------+---------+----------+-------+----------+-------------+-----------+--------+-----------------+-----------------+-------------+----------+----------+-----------+
|id   |Attrition|BusinessTravel   |DailyRate|Department|JobRole|HourlyRate|MonthlyIncome|MonthlyRate|OverTime|PercentSalaryHike|PerformanceRating|StandardHours|Created_At|Updated_at|Source     |
+-----+---------+-----------------+---------+----------+-------+----------+-------------+-----------+--------+-----------------+-----------------+-------------+----------+----------+-----------+
|12379|No       |Non-Travel       |497      |S         |l      |50        |10719        |9049       |No      |7                |2                |80           |1660330941|1660330941|From Client|
|12380|No       |Non-Travel       |505      |T         |c      |46        |9843         |9941       |No      |10               |3                |80           |1660330941|1660330941|From Client|
|12381|No       |Non-Travel       |493      |T         |c      |48        |12077        |10150      |Yes     |1                |3                |80           |1660330941|1660330941|From Client|
|12383|No       |Non-Travel       |511      |S         |l      |49        |10512        |9021       |Yes     |9                |2                |80           |1660330941|1660330941|From Client|
|12384|No       |Non-Travel       |527      |T         |c      |49        |11769        |9672       |No      |17               |1                |80           |1660330941|1660330941|From Client|
|12385|No       |Non-Travel       |516      |R         |s      |49        |11628        |9242       |No      |4                |1                |80           |1660330941|1660330941|From Client|
|12387|No       |Non-Travel       |496      |S         |l      |49        |9666         |10949      |No      |17               |3                |80           |1660330941|1660330941|From Client|
|12388|No       |Travel_Rarely    |490      |R         |s      |50        |10692        |8043       |Yes     |14               |2                |80           |1660330941|1660330941|From Client|
|12389|No       |Non-Travel       |510      |T         |c      |48        |11448        |10020      |No      |11               |3                |80           |1660330941|1660330941|From Client|
|12390|No       |Non-Travel       |505      |T         |c      |50        |9714         |11179      |No      |10               |3                |80           |1660330941|1660330941|From Client|
|12391|No       |Non-Travel       |507      |S         |l      |53        |10215        |11106      |Yes     |11               |1                |80           |1660330941|1660330941|From Client|
|12392|No       |Non-Travel       |483      |T         |c      |44        |10242        |10723      |No      |3                |3                |80           |1660330941|1660330941|From Client|
|12393|No       |Non-Travel       |492      |T         |c      |51        |10057        |11020      |No      |5                |2                |80           |1660330941|1660330941|From Client|
|12394|No       |Travel_Rarely    |486      |S         |l      |48        |10442        |9681       |No      |14               |3                |80           |1660330941|1660330941|From Client|
|12395|No       |Non-Travel       |494      |S         |l      |49        |7969         |7797       |No      |10               |2                |80           |1660330941|1660330941|From Client|
|12396|No       |Non-Travel       |495      |R         |s      |48        |8773         |10747      |No      |7                |2                |80           |1660330941|1660330941|From Client|
|12397|No       |Non-Travel       |503      |R         |s      |48        |10564        |11221      |Yes     |11               |3                |80           |1660330941|1660330941|From Client|
|12398|No       |Travel_Rarely    |495      |R         |s      |48        |10991        |8530       |No      |5                |2                |80           |1660330941|1660330941|From Client|
|12399|No       |Non-Travel       |512      |S         |l      |51        |11139        |12263      |No      |9                |1                |80           |1660330941|1660330941|From Client|
|12400|No       |Travel_Frequently|488      |T         |c      |44        |11318        |12252      |No      |16               |3                |80           |1660330941|1660330941|From Client|
+-----+---------+-----------------+---------+----------+-------+----------+-------------+-----------+--------+-----------------+-----------------+-------------+----------+----------+-----------+
only showing top 20 rows

1203