**Our dataset has the following features.**


*   ID - Unique number for each athlete;
*   Name - Athlete's name;
*   Sex - M or F;
* Age;
* Height - In centimeters;
* Weight - In kilograms;
* Team - Team name;
* NOC;
* Games - Year and season;
* Year;
* Season - Summer or Winter;
* City - Host city;
* Sport - Sport;
* Event - Event;
* Medal - Gold, Silver, Bronze, or NA.

In [ ]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:4 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:10 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,861 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,006 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,521 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,293 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,040 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,297 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Fetched 12.3 MB in 6s (1,998 kB/s)
Reading package lists... Done

In [ ]:
#import packages

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType


# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
#After uploading this file to your colab environment, let's create a new spark dataframe
#this file has Quoted nicknames in the name column so we have to handle the quotes while we read in the data.
df = spark.read.csv("/content/athlete_events.csv", header=True, inferSchema=True, quote="\"", escape="\"")

In [ ]:
#show the dataframe

+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+-------------+--------------------+-----+
| ID|                Name|Sex|Age|Height|Weight|          Team|NOC|      Games|Year|Season|       City|        Sport|               Event|Medal|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+-------------+--------------------+-----+
|  1|           A Dijiang|  M| 24|   180|    80|         China|CHN|1992 Summer|1992|Summer|  Barcelona|   Basketball|Basketball Men's ...|   NA|
|  2|            A Lamusi|  M| 23|   170|    60|         China|CHN|2012 Summer|2012|Summer|     London|         Judo|Judo Men's Extra-...|   NA|
|  3| Gunnar Nielsen Aaby|  M| 24|    NA|    NA|       Denmark|DEN|1920 Summer|1920|Summer|  Antwerpen|     Football|Football Men's Fo...|   NA|
|  4|Edgar Lindenau Aabye|  M| 34|    NA|    NA|Denmark/Sweden|DEN|1900 Summer|1900|Summer|      Paris|   Tug-Of-War|Tug-Of-War Men's ...| Gold|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|Speed Skating|Speed Skating Wom...|   NA|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+-------------+--------------------+-----+
only showing top 10 rows

In [ ]:
#Create a tempview

Question 1: How many new sports were introduced in the most recent summer Olympics?

BONUS: What are the names of each sport added?

In [ ]:
# Get the numover of distinct sports played in 2016

+---------------------+
|count(DISTINCT sport)|
+---------------------+
|                   34|
+---------------------+

In [ ]:
# Get the number of distinct sports played in 2012

+---------------------+
|count(DISTINCT sport)|
+---------------------+
|                   32|
+---------------------+

In [ ]:
# Write a subquery to get the distinct sports played in 2016 but not in 2012.
spark.sql("""
    
    """).show()

+------------+
|       sport|
+------------+
|        Golf|
|Rugby Sevens|
+------------+

In [ ]:
# Another option could be using an EXCEPT
spark.sql("""
    
    """).show()

+------------+
|       sport|
+------------+
|        Golf|
|Rugby Sevens|
+------------+

Question 2: Which sports have been played since the first summer Olympics?

In [ ]:
# Get the year of the earliest Olympics in our data
spark.sql().show()

+---------+
|min(year)|
+---------+
|     1896|
+---------+

In [ ]:
# Get the sports that were played in the earliest Olympic games in our data
spark.sql("""
 """).show()

+-------------+
|        sport|
+-------------+
|   Gymnastics|
|       Tennis|
|     Swimming|
|    Athletics|
|     Shooting|
|    Wrestling|
|Weightlifting|
|      Cycling|
|      Fencing|
+-------------+

In [ ]:
# Determine which sports were in both the 1896 Olympics and the 2016 Olympics
spark.sql("""
  """).show()

+-------------+
|        sport|
+-------------+
|   Gymnastics|
|       Tennis|
|     Swimming|
|    Athletics|
|     Shooting|
|    Wrestling|
|Weightlifting|
|      Cycling|
|      Fencing|
+-------------+

Question 3: Who are the top 5 players that won most gold, silver and bronze medals?

In [ ]:
# Who are the top 5 Gold medal winners in the Olympics 
spark.sql("""
 
""").show(truncate=False)

+----------------------------------+-----+----------+
|Name                              |medal|medalCount|
+----------------------------------+-----+----------+
|Michael Fred Phelps, II           |Gold |23        |
|Raymond Clarence "Ray" Ewry       |Gold |10        |
|Frederick Carlton "Carl" Lewis    |Gold |9         |
|Larysa Semenivna Latynina (Diriy-)|Gold |9         |
|Mark Andrew Spitz                 |Gold |9         |
+----------------------------------+-----+----------+

In [ ]:
# Who are the top 5 Silver medal winners
spark.sql("""

""").show(truncate=False)

+-------------------------------+------+----------+
|Name                           |medal |medalCount|
+-------------------------------+------+----------+
|Aleksandr Vladimirovich Popov  |Silver|6         |
|Mikhail Yakovlevich Voronin    |Silver|6         |
|Shirley Frances Babashoff      |Silver|6         |
|Yang Yang                      |Silver|6         |
|Aleksandr Nikolayevich Dityatin|Silver|6         |
+-------------------------------+------+----------+

In [ ]:
# Who are the top 5 Bronze medal winners
spark.sql("""

""").show(truncate=False)

+------------------------+------+----------+
|Name                    |medal |medalCount|
+------------------------+------+----------+
|Merlene Joyce Ottey-Page|Bronze|6         |
|Harri Tapani Kirvesniemi|Bronze|6         |
|Heikki Ilmari Savolainen|Bronze|6         |
|Franziska van Almsick   |Bronze|6         |
|Aleksey Yuryevich Nemov |Bronze|6         |
+------------------------+------+----------+

Output the gold medal winners to csv

Hint: since we have aggregated our data it is safe to go back to pandas

In [ ]:
import pandas as pd

pandas_df=spark.sql("""
 
""").toPandas()

pandas_df.to_csv()