In [ ]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,521 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,866 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,013 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,297 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,047 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,298 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Fetched 12.4 MB in 7s (1,897 kB/s)
Reading package lists... Done

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# Recall that the default shuffle partitions is 200.  We want to bring that down to a reasonable size for both our data and our Spark cluster
# 4 is reasonable for a free Colab 
spark.conf.set("spark.sql.shuffle.partitions", 4)

In [ ]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-5/DelayedFlights.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("DelayedFlights.csv"), sep=",", header=True)

# Create a lookup table for the 500 cities. 
url_cities='https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-5/cities500.txt'
spark.sparkContext.addFile(url_cities)
df_lookup_geo = spark.read.csv(SparkFiles.get("cities500.txt"), sep="\t", header=True)

# Create a lookup table for the airport codes. 
url_airportCodes ='https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-5/airportCodes.csv'
spark.sparkContext.addFile(url_airportCodes)
df_lookup_codes = spark.read.csv(SparkFiles.get("airportCodes.csv"), sep=",", header=True)

In [ ]:
# Look over the delayed flight data.
df.show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|2008|    1|         3|        4| 2003.0|      1955| 2211.0|      2225|           WN|      335| N712SW|            128.0|         150.0|  116.0|   -14.0|     8.0|   IAD| TPA|     810|   4.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  1|2008|    1|         3|        4|  754.0|       735| 1002.0|      1000|           WN|     3231| N772SW|            128.0|         145.0|  113.0|     2.0|    19.0|   IAD| TPA|     810|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  2|2008|    1|         3|        4|  628.0|       620|  804.0|       750|           WN|      448| N428WN|             96.0|          90.0|   76.0|    14.0|     8.0|   IND| BWI|     515|   3.0|   17.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  4|2008|    1|         3|        4| 1829.0|      1755| 1959.0|      1925|           WN|     3920| N464WN|             90.0|          90.0|   77.0|    34.0|    34.0|   IND| BWI|     515|   3.0|   10.0|        0|               N|       0|         2.0|         0.0|     0.0|          0.0|             32.0|
|  5|2008|    1|         3|        4| 1940.0|      1915| 2121.0|      2110|           WN|      378| N726SW|            101.0|         115.0|   87.0|    11.0|    25.0|   IND| JAX|     688|   4.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  6|2008|    1|         3|        4| 1937.0|      1830| 2037.0|      1940|           WN|      509| N763SW|            240.0|         250.0|  230.0|    57.0|    67.0|   IND| LAS|    1591|   3.0|    7.0|        0|               N|       0|        10.0|         0.0|     0.0|          0.0|             47.0|
| 10|2008|    1|         3|        4|  706.0|       700|  916.0|       915|           WN|      100| N690SW|            130.0|         135.0|  106.0|     1.0|     6.0|   IND| MCO|     828|   5.0|   19.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 11|2008|    1|         3|        4| 1644.0|      1510| 1845.0|      1725|           WN|     1333| N334SW|            121.0|         135.0|  107.0|    80.0|    94.0|   IND| MCO|     828|   6.0|    8.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             72.0|
| 15|2008|    1|         3|        4| 1029.0|      1020| 1021.0|      1010|           WN|     2272| N263WN|             52.0|          50.0|   37.0|    11.0|     9.0|   IND| MDW|     162|   6.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 16|2008|    1|         3|        4| 1452.0|      1425| 1640.0|      1625|           WN|      675| N286WN|            228.0|         240.0|  213.0|    15.0|    27.0|   IND| PHX|    1489|   7.0|    8.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             12.0|
| 17|2008|    1|         3|        4|  754.0|       745|  940.0|       955|           WN|     1144| N778SW|            226.0|         250.0|  205.0|   -15.0|     9.0|   IND| PHX|    1489|   5.0|   16.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 18|2008|    1|         3|        4| 1323.0|      1255| 1526.0|      1510|           WN|        4| N674AA|            123.0|         135.0|  110.0|    16.0|    28.0|   IND| TPA|     838|   4.0|    9.0|        0|               N|       0|         0.0|         0.0|     0.0|          0.0|             16.0|
| 19|2008|    1|         3|        4| 1416.0|      1325| 1512.0|      1435|           WN|       54| N643SW|             56.0|          70.0|   49.0|    37.0|    51.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        12.0|         0.0|     0.0|          0.0|             25.0|
| 21|2008|    1|         3|        4| 1657.0|      1625| 1754.0|      1735|           WN|      623| N724SW|             57.0|          70.0|   47.0|    19.0|    32.0|   ISP| BWI|     220|   5.0|    5.0|        0|               N|       0|         7.0|         0.0|     0.0|          0.0|             12.0|
| 22|2008|    1|         3|        4| 1900.0|      1840| 1956.0|      1950|           WN|      717| N786SW|             56.0|          70.0|   49.0|     6.0|    20.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 23|2008|    1|         3|        4| 1039.0|      1030| 1133.0|      1140|           WN|     1244| N714CB|             54.0|          70.0|   47.0|    -7.0|     9.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 25|2008|    1|         3|        4| 1520.0|      1455| 1619.0|      1605|           WN|     2553| N394SW|             59.0|          70.0|   50.0|    14.0|    25.0|   ISP| BWI|     220|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 26|2008|    1|         3|        4| 1422.0|      1255| 1657.0|      1610|           WN|      188| N215WN|            155.0|         195.0|  143.0|    47.0|    87.0|   ISP| FLL|    1093|   6.0|    6.0|        0|               N|       0|        40.0|         0.0|     0.0|          0.0|              7.0|
| 27|2008|    1|         3|        4| 1954.0|      1925| 2239.0|      2235|           WN|     1754| N243WN|            165.0|         190.0|  155.0|     4.0|    29.0|   ISP| FLL|    1093|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 30|2008|    1|         3|        4| 2107.0|      1945| 2334.0|      2230|           WN|      362| N798SW|            147.0|         165.0|  134.0|    64.0|    82.0|   ISP| MCO|     972|   6.0|    7.0|        0|               N|       0|         5.0|         0.0|     0.0|          0.0|             59.0|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [ ]:
# Look over the data of the 500 cities.
df_lookup_geo.show()

+---------+-------------------+-------------------+--------------------+--------+---------+-------------+------------+------------+----+-----------+-----------+-----------+-----------+----------+---------+----+--------------+-----------------+
|geonameid|               name|          asciiname|      alternatenames|latitude|longitude|feature_class|feature_code|country_code| cc2|admin1_code|admin2_code|admin3_code|admin4_code|population|elevation| dem|      timezone|modification_date|
+---------+-------------------+-------------------+--------------------+--------+---------+-------------+------------+------------+----+-----------+-----------+-----------+-----------+----------+---------+----+--------------+-----------------+
|  3038999|             Soldeu|             Soldeu|                null|42.57688|  1.66769|            P|         PPL|          AD|null|         02|       null|       null|       null|       602|     null|1832|Europe/Andorra|       2017-11-06|
|  3039154|          El Tarter|          El Tarter|Ehl Tarter,Эл Тартер|42.57952|  1.65362|            P|         PPL|          AD|null|         02|       null|       null|       null|      1052|     null|1721|Europe/Andorra|       2012-11-03|
|  3039163|Sant Julià de Lòria|Sant Julia de Loria|San Julia,San Jul...|42.46372|  1.49129|            P|        PPLA|          AD|null|         06|       null|       null|       null|      8022|     null| 921|Europe/Andorra|       2013-11-23|
|  3039604|     Pas de la Casa|     Pas de la Casa|Pas de la Kasa,Па...|42.54277|  1.73361|            P|         PPL|          AD|null|         03|       null|       null|       null|      2363|     2050|2106|Europe/Andorra|       2008-06-09|
|  3039678|             Ordino|             Ordino|Ordino,ao er di n...|42.55623|  1.53319|            P|        PPLA|          AD|null|         05|       null|       null|       null|      3066|     null|1296|Europe/Andorra|       2018-10-26|
|  3040051|       les Escaldes|       les Escaldes|Ehskal'des-Ehndzh...|42.50729|  1.53414|            P|        PPLA|          AD|null|         08|       null|       null|       null|     15853|     null|1033|Europe/Andorra|       2008-10-15|
|  3040132|         la Massana|         la Massana|La Macana,La Mass...|42.54499|  1.51483|            P|        PPLA|          AD|null|         04|       null|       null|       null|      7211|     null|1245|Europe/Andorra|       2008-10-15|
|  3040141|           l'Aldosa|           l'Aldosa|                null|42.54391|  1.52289|            P|         PPL|          AD|null|         04|       null|       null|       null|       594|     null|1296|Europe/Andorra|       2007-04-29|
|  3040686|             Encamp|             Encamp|Ehnkam,Encamp,en ...|42.53474|  1.58014|            P|        PPLA|          AD|null|         03|       null|       null|       null|     11223|     null|1257|Europe/Andorra|       2018-10-26|
|  3041204|            Canillo|            Canillo|Canillo,Kanil'o,k...| 42.5676|  1.59756|            P|        PPLA|          AD|null|         02|       null|       null|       null|      3292|     null|1561|Europe/Andorra|       2018-10-26|
|  3041519|            Arinsal|            Arinsal|Arinsal,Arinsal',...|42.57205|  1.48453|            P|         PPL|          AD|null|         04|       null|       null|       null|      1419|     null|1465|Europe/Andorra|       2010-01-29|
|  3041563|   Andorra la Vella|   Andorra la Vella|ALV,Ando-la-Vyey,...|42.50779|  1.52109|            P|        PPLC|          AD|null|         07|       null|       null|       null|     20430|     null|1037|Europe/Andorra|       2020-03-03|
|   290594| Umm Al Quwain City| Umm Al Quwain City|Oumm al Qaiwain,O...|25.56473| 55.55517|            P|        PPLA|          AE|null|         07|       null|       null|       null|     62747|     null|   2|    Asia/Dubai|       2019-10-24|
|   291074|Ras Al Khaimah City|Ras Al Khaimah City|Julfa,Khaimah,RAK...|25.78953|  55.9432|            P|        PPLA|          AE|null|         05|       null|       null|       null|    351943|     null|   2|    Asia/Dubai|       2019-09-09|
|   291279|           Muzayri‘|           Muzayri`|Mezaira'a,Mezaira...|23.14355|  53.7881|            P|         PPL|          AE|null|         01|       null|       null|       null|     10000|     null| 123|    Asia/Dubai|       2013-10-24|
|   291339|             Murbaḩ|             Murbah|Marbah,Mirba,Mirb...|25.27623| 56.36256|            P|         PPL|          AE|null|         06|       null|       null|       null|      2000|     null|  15|    Asia/Dubai|       2020-06-10|
|   291580|         Zayed City|         Zayed City|Bid' Zayed,Bid’ Z...|23.65416| 53.70522|            P|         PPL|          AE|null|         01|        103|       null|       null|     63482|     null| 124|    Asia/Dubai|       2019-10-24|
|   291696|       Khawr Fakkān|       Khawr Fakkan|Fakkan,Fakkān,Kha...|25.33132| 56.34199|            P|         PPL|          AE|null|         06|       null|       null|       null|     40677|     null|  20|    Asia/Dubai|       2020-06-10|
|   292223|              Dubai|              Dubai|DXB,Dabei,Dibai,D...|25.07725| 55.30927|            P|        PPLA|          AE|null|         03|       null|       null|       null|   2956587|     null|  24|    Asia/Dubai|       2019-08-28|
|   292231|  Dibba Al-Fujairah|  Dibba Al-Fujairah|Al-Fujairah,BYB,D...|25.59246| 56.26176|            P|         PPL|          AE|null|         04|       null|       null|       null|     30000|     null|  16|    Asia/Dubai|       2014-08-12|
+---------+-------------------+-------------------+--------------------+--------+---------+-------------+------------+------------+----+-----------+-----------+-----------+-----------+----------+---------+----+--------------+-----------------+
only showing top 20 rows

In [ ]:
# Look over the airport codes.
df_lookup_codes.show()

+--------------+--------------------+-----------+
|          City|             country|airportCode|
+--------------+--------------------+-----------+
|       Aalborg|             Denmark|        AAL|
|      Aalesund|              Norway|        AES|
|        Aarhus|             Denmark|        AAR|
|Abbotsford, BC|              Canada|        YXX|
|Abbotsford, BC|              Canada|        YXX|
|      Aberdeen|            Scotland|        ABZ|
|  Aberdeen, SD|                 USA|        ABR|
|       Abidjan|         Ivory Coast|        ABJ|
|   Abilene, TX|                 USA|        ABI|
|     Abu Dhabi|United Arab Emirates|        AUH|
|         Abuja|             Nigeria|        ABV|
|      Acapulco|              Mexico|        ACA|
|         Accra|               Ghana|        ACC|
|         Adana|              Turkey|        ADA|
|   Addis Ababa|            Ethiopia|        ADD|
|Adelaide, S.A.|           Australia|        ADL|
|          Aden|               Yemen|        ADE|
|      Adiyaman|              Turkey|        ADF|
|        Agadir|             Morocco|        AGA|
|         Agana|                Guam|        GUM|
+--------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Filter the airport codes to only contain rows whose `country` equals `USA`
df_lookup_city_name=df_lookup_codes.filter("country='USA'")
df_lookup_city_name.show(5)

+------------+-------+-----------+
|        City|country|airportCode|
+------------+-------+-----------+
|Aberdeen, SD|    USA|        ABR|
| Abilene, TX|    USA|        ABI|
|   Akron, OH|    USA|        CAK|
| Alamosa, CO|    USA|        ALS|
|  Albany, GA|    USA|        ABY|
+------------+-------+-----------+
only showing top 5 rows

In [ ]:
# Filter the latitude and longitude dataframe to only contain the 'name','latitude','longitude','admin1_code' fields and rows whose `country_code` equals `US`
df_lookup_geo=df_lookup_geo.select('name','latitude','longitude','admin1_code').filter("country_code='US'")
df_lookup_geo.show(5)

+--------------+--------+---------+-----------+
|          name|latitude|longitude|admin1_code|
+--------------+--------+---------+-----------+
|   Bay Minette|30.88296|-87.77305|         AL|
|          Edna|28.97859|-96.64609|         TX|
|Bayou La Batre|30.40352|-88.24852|         AL|
|     Henderson|32.15322|-94.79938|         TX|
|       Natalia|29.18968|-98.86253|         TX|
+--------------+--------+---------+-----------+
only showing top 5 rows

In [ ]:
# Create temporary views for each of our DataFrames
df.createOrReplaceTempView('delayed')
df_lookup_city_name.createOrReplaceTempView('lookup_city')
df_lookup_geo.createOrReplaceTempView('lookup_geo')

In [ ]:
# First, join the airport codes lookup table to the delayed flight DataFrame 
# and add the city of origin and destination like we did in the instructor demo.  

start_time = time.time()

spark.sql("""
select a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
a.Dest,
c.City as Dest_City,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|    Origin_City|Dest|      Dest_City|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        5| 2003.0|      1845| 2207.0|      2040|           WN|      746| N667SW|             64.0|          55.0|   44.0|    87.0|    78.0|   ABQ|Albuquerque, NM| AMA|   Amarillo, TX|     277|   5.0|   15.0|        0|               N|       0|         0.0|         0.0|     9.0|          0.0|             78.0|
|2008|    1|         4|        5| 1332.0|      1325| 1437.0|      1440|           WN|      182| N313SW|             65.0|          75.0|   54.0|    -3.0|     7.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1020.0|      1005| 1128.0|      1120|           WN|      733| N650SW|             68.0|          75.0|   58.0|     8.0|    15.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1831.0|      1820| 1941.0|      1935|           WN|     1861| N783SW|             70.0|          75.0|   57.0|     6.0|    11.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1758.0|      1750| 2051.0|      2040|           WN|     2036| N660SW|            113.0|         110.0|  100.0|    11.0|     8.0|   BHM| Birmingham, AL| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5|  836.0|       830|  943.0|       940|           WN|      922| N650SW|             67.0|          70.0|   55.0|     3.0|     6.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   2.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1652.0|      1645| 1755.0|      1755|           WN|     1774| N783SW|             63.0|          70.0|   51.0|     0.0|     7.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   5.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1035.0|      1025| 1143.0|      1135|           WN|     3569| N276WN|             68.0|          70.0|   53.0|     8.0|    10.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1828.0|      1805| 1917.0|      1915|           WN|      623| N757LV|            109.0|         130.0|   97.0|     2.0|    23.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1317.0|      1310| 1401.0|      1420|           WN|     1857| N280WN|            104.0|         130.0|   95.0|   -19.0|     7.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 2001.0|      1845| 2150.0|      2040|           WN|      746| N412WN|             49.0|          55.0|   39.0|    70.0|    76.0|   ABQ|Albuquerque, NM| AMA|   Amarillo, TX|     277|   4.0|    6.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             67.0|
|2008|    1|         5|        6| 1124.0|      1005| 1227.0|      1120|           WN|      733| N794SW|             63.0|          75.0|   50.0|    67.0|    79.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2008|    1|         5|        6| 1544.0|      1515| 1654.0|      1630|           WN|     3046| N723SW|             70.0|          75.0|   56.0|    24.0|    29.0|   ALB|     Albany, NY| BWI|  Baltimore, MD|     288|   4.0|   10.0|        0|               N|       0|        11.0|         0.0|     0.0|          0.0|             13.0|
|2008|    1|         5|        6| 1426.0|      1415| 1832.0|      1815|           WN|     1001| N366SW|            186.0|         180.0|  164.0|    17.0|    11.0|   AUS|     Austin, TX| BWI|  Baltimore, MD|    1342|   4.0|   18.0|        0|               N|       0|         0.0|         0.0|     6.0|          0.0|             11.0|
|2008|    1|         5|        6| 1806.0|      1750| 2047.0|      2040|           WN|     2036| N614SW|            101.0|         110.0|   88.0|     7.0|    16.0|   BHM| Birmingham, AL| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1508.0|      1425| 1719.0|      1655|           WN|      644| N737JW|            251.0|         270.0|  237.0|    24.0|    43.0|   BWI|  Baltimore, MD| ABQ|Albuquerque, NM|    1670|   5.0|    9.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             16.0|
|2008|    1|         5|        6| 1808.0|      1755| 1909.0|      1905|           WN|      236| N708SA|             61.0|          70.0|   49.0|     4.0|    13.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1359.0|      1340| 1506.0|      1450|           WN|      323| N723SW|             67.0|          70.0|   53.0|    16.0|    19.0|   BWI|  Baltimore, MD| ALB|     Albany, NY|     288|   3.0|   11.0|        0|               N|       0|         6.0|         0.0|     0.0|          0.0|             10.0|
|2008|    1|         5|        6| 1433.0|      1420| 1700.0|      1710|           WN|      160| N264LV|            207.0|         230.0|  196.0|   -10.0|    13.0|   BWI|  Baltimore, MD| AUS|     Austin, TX|    1342|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1814.0|      1805| 1910.0|      1915|           WN|      623| N624SW|            116.0|         130.0|  105.0|    -5.0|     9.0|   BWI|  Baltimore, MD| BHM| Birmingham, AL|     682|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

--- 1.81284761428833 seconds ---

In [ ]:
# Add the `origin_latitude` and `origin_longitude` fields by joining the `lookup_geo` view 
# to the `lookup_city` view and the delayed flight DataFrame.
# Note:  The two lookup views do not have matching columns, so we must be mindful what names are used when joining both views together.

start_time = time.time()

spark.sql("""
select a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
geo.latitude as Origin_latitude,
geo.longitude as Origin_longitude,
a.Dest,
c.City as Dest_City,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
  inner join lookup_geo geo
on split(b.City,',')[0]=geo.name and trim(split(b.City,',')[1])=geo.admin1_code
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|    Origin_City|Origin_latitude|Origin_longitude|Dest|      Dest_City|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        5| 2003.0|      1845| 2207.0|      2040|           WN|      746| N667SW|             64.0|          55.0|   44.0|    87.0|    78.0|   ABQ|Albuquerque, NM|       35.08449|      -106.65114| AMA|   Amarillo, TX|     277|   5.0|   15.0|        0|               N|       0|         0.0|         0.0|     9.0|          0.0|             78.0|
|2008|    1|         4|        5| 1332.0|      1325| 1437.0|      1440|           WN|      182| N313SW|             65.0|          75.0|   54.0|    -3.0|     7.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     288|   3.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1020.0|      1005| 1128.0|      1120|           WN|      733| N650SW|             68.0|          75.0|   58.0|     8.0|    15.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     288|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1831.0|      1820| 1941.0|      1935|           WN|     1861| N783SW|             70.0|          75.0|   57.0|     6.0|    11.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1758.0|      1750| 2051.0|      2040|           WN|     2036| N660SW|            113.0|         110.0|  100.0|    11.0|     8.0|   BHM| Birmingham, AL|       33.52066|       -86.80249| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5|  836.0|       830|  943.0|       940|           WN|      922| N650SW|             67.0|          70.0|   55.0|     3.0|     6.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     288|   2.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1652.0|      1645| 1755.0|      1755|           WN|     1774| N783SW|             63.0|          70.0|   51.0|     0.0|     7.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     288|   5.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1035.0|      1025| 1143.0|      1135|           WN|     3569| N276WN|             68.0|          70.0|   53.0|     8.0|    10.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     288|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1828.0|      1805| 1917.0|      1915|           WN|      623| N757LV|            109.0|         130.0|   97.0|     2.0|    23.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     682|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1317.0|      1310| 1401.0|      1420|           WN|     1857| N280WN|            104.0|         130.0|   95.0|   -19.0|     7.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     682|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 2001.0|      1845| 2150.0|      2040|           WN|      746| N412WN|             49.0|          55.0|   39.0|    70.0|    76.0|   ABQ|Albuquerque, NM|       35.08449|      -106.65114| AMA|   Amarillo, TX|     277|   4.0|    6.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             67.0|
|2008|    1|         5|        6| 1124.0|      1005| 1227.0|      1120|           WN|      733| N794SW|             63.0|          75.0|   50.0|    67.0|    79.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     288|   3.0|   10.0|        0|               N|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2008|    1|         5|        6| 1544.0|      1515| 1654.0|      1630|           WN|     3046| N723SW|             70.0|          75.0|   56.0|    24.0|    29.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     288|   4.0|   10.0|        0|               N|       0|        11.0|         0.0|     0.0|          0.0|             13.0|
|2008|    1|         5|        6| 1426.0|      1415| 1832.0|      1815|           WN|     1001| N366SW|            186.0|         180.0|  164.0|    17.0|    11.0|   AUS|     Austin, TX|       30.26715|       -97.74306| BWI|  Baltimore, MD|    1342|   4.0|   18.0|        0|               N|       0|         0.0|         0.0|     6.0|          0.0|             11.0|
|2008|    1|         5|        6| 1806.0|      1750| 2047.0|      2040|           WN|     2036| N614SW|            101.0|         110.0|   88.0|     7.0|    16.0|   BHM| Birmingham, AL|       33.52066|       -86.80249| BWI|  Baltimore, MD|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1508.0|      1425| 1719.0|      1655|           WN|      644| N737JW|            251.0|         270.0|  237.0|    24.0|    43.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ABQ|Albuquerque, NM|    1670|   5.0|    9.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             16.0|
|2008|    1|         5|        6| 1808.0|      1755| 1909.0|      1905|           WN|      236| N708SA|             61.0|          70.0|   49.0|     4.0|    13.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     288|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1359.0|      1340| 1506.0|      1450|           WN|      323| N723SW|             67.0|          70.0|   53.0|    16.0|    19.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     288|   3.0|   11.0|        0|               N|       0|         6.0|         0.0|     0.0|          0.0|             10.0|
|2008|    1|         5|        6| 1433.0|      1420| 1700.0|      1710|           WN|      160| N264LV|            207.0|         230.0|  196.0|   -10.0|    13.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| AUS|     Austin, TX|    1342|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1814.0|      1805| 1910.0|      1915|           WN|      623| N624SW|            116.0|         130.0|  105.0|    -5.0|     9.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     682|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

--- 0.8505635261535645 seconds ---

In [ ]:
# Finally, add the `dest_latitude` and `dest_longitude` fields by joining the `lookup_geo` view again as another alias, `geo_dest`.

start_time = time.time()

spark.sql("""
select a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
geo.latitude as Origin_latitude,
geo.longitude as Origin_longitude,
a.Dest,
c.City as Dest_City,
geo_dest.latitude as Dest_latitude,
geo_dest.longitude as Dest_longitude,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
  inner join lookup_geo geo
on split(b.City,',')[0]=geo.name and trim(split(b.City,',')[1])=geo.admin1_code
  inner join lookup_geo geo_dest
    on c.City=concat(geo_dest.name,', ',geo_dest.admin1_code)
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+-------------+--------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|    Origin_City|Origin_latitude|Origin_longitude|Dest|      Dest_City|Dest_latitude|Dest_longitude|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+-------------+--------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        5| 2003.0|      1845| 2207.0|      2040|           WN|      746| N667SW|             64.0|          55.0|   44.0|    87.0|    78.0|   ABQ|Albuquerque, NM|       35.08449|      -106.65114| AMA|   Amarillo, TX|       35.222|     -101.8313|     277|   5.0|   15.0|        0|               N|       0|         0.0|         0.0|     9.0|          0.0|             78.0|
|2008|    1|         4|        5| 1332.0|      1325| 1437.0|      1440|           WN|      182| N313SW|             65.0|          75.0|   54.0|    -3.0|     7.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1020.0|      1005| 1128.0|      1120|           WN|      733| N650SW|             68.0|          75.0|   58.0|     8.0|    15.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1831.0|      1820| 1941.0|      1935|           WN|     1861| N783SW|             70.0|          75.0|   57.0|     6.0|    11.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1758.0|      1750| 2051.0|      2040|           WN|     2036| N660SW|            113.0|         110.0|  100.0|    11.0|     8.0|   BHM| Birmingham, AL|       33.52066|       -86.80249| BWI|  Baltimore, MD|     39.29038|     -76.61219|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5|  836.0|       830|  943.0|       940|           WN|      922| N650SW|             67.0|          70.0|   55.0|     3.0|     6.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   2.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1652.0|      1645| 1755.0|      1755|           WN|     1774| N783SW|             63.0|          70.0|   51.0|     0.0|     7.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   5.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1035.0|      1025| 1143.0|      1135|           WN|     3569| N276WN|             68.0|          70.0|   53.0|     8.0|    10.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1828.0|      1805| 1917.0|      1915|           WN|      623| N757LV|            109.0|         130.0|   97.0|     2.0|    23.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     33.52066|     -86.80249|     682|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1317.0|      1310| 1401.0|      1420|           WN|     1857| N280WN|            104.0|         130.0|   95.0|   -19.0|     7.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     33.52066|     -86.80249|     682|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 2001.0|      1845| 2150.0|      2040|           WN|      746| N412WN|             49.0|          55.0|   39.0|    70.0|    76.0|   ABQ|Albuquerque, NM|       35.08449|      -106.65114| AMA|   Amarillo, TX|       35.222|     -101.8313|     277|   4.0|    6.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             67.0|
|2008|    1|         5|        6| 1124.0|      1005| 1227.0|      1120|           WN|      733| N794SW|             63.0|          75.0|   50.0|    67.0|    79.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|   10.0|        0|               N|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2008|    1|         5|        6| 1544.0|      1515| 1654.0|      1630|           WN|     3046| N723SW|             70.0|          75.0|   56.0|    24.0|    29.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   4.0|   10.0|        0|               N|       0|        11.0|         0.0|     0.0|          0.0|             13.0|
|2008|    1|         5|        6| 1426.0|      1415| 1832.0|      1815|           WN|     1001| N366SW|            186.0|         180.0|  164.0|    17.0|    11.0|   AUS|     Austin, TX|       30.26715|       -97.74306| BWI|  Baltimore, MD|     39.29038|     -76.61219|    1342|   4.0|   18.0|        0|               N|       0|         0.0|         0.0|     6.0|          0.0|             11.0|
|2008|    1|         5|        6| 1806.0|      1750| 2047.0|      2040|           WN|     2036| N614SW|            101.0|         110.0|   88.0|     7.0|    16.0|   BHM| Birmingham, AL|       33.52066|       -86.80249| BWI|  Baltimore, MD|     39.29038|     -76.61219|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1508.0|      1425| 1719.0|      1655|           WN|      644| N737JW|            251.0|         270.0|  237.0|    24.0|    43.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ABQ|Albuquerque, NM|     35.08449|    -106.65114|    1670|   5.0|    9.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             16.0|
|2008|    1|         5|        6| 1808.0|      1755| 1909.0|      1905|           WN|      236| N708SA|             61.0|          70.0|   49.0|     4.0|    13.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1359.0|      1340| 1506.0|      1450|           WN|      323| N723SW|             67.0|          70.0|   53.0|    16.0|    19.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   3.0|   11.0|        0|               N|       0|         6.0|         0.0|     0.0|          0.0|             10.0|
|2008|    1|         5|        6| 1433.0|      1420| 1700.0|      1710|           WN|      160| N264LV|            207.0|         230.0|  196.0|   -10.0|    13.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| AUS|     Austin, TX|     30.26715|     -97.74306|    1342|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1814.0|      1805| 1910.0|      1915|           WN|      623| N624SW|            116.0|         130.0|  105.0|    -5.0|     9.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     33.52066|     -86.80249|     682|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+-------------+--------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

--- 4.009768724441528 seconds ---

In [ ]:
# Run the same query with a Broadcast hint for either table
 
start_time = time.time()

spark.sql("""
select /*+ BROADCAST(lookup_geo) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
geo.latitude as Origin_latitude,
geo.longitude as Origin_longitude,
a.Dest,
c.City as Dest_City,
geo_dest.latitude as Dest_latitude,
geo_dest.longitude as Dest_longitude,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
  inner join lookup_geo geo
on split(b.City,',')[0]=geo.name
     and trim(split(b.City,',')[1])=geo.admin1_code
  inner join lookup_geo geo_dest
    on c.City=concat(geo_dest.name,', ',geo_dest.admin1_code)
""").show()
print("--- %s seconds ---" % (time.time() - start_time))

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+-------------+--------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|    Origin_City|Origin_latitude|Origin_longitude|Dest|      Dest_City|Dest_latitude|Dest_longitude|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+-------------+--------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        5| 2003.0|      1845| 2207.0|      2040|           WN|      746| N667SW|             64.0|          55.0|   44.0|    87.0|    78.0|   ABQ|Albuquerque, NM|       35.08449|      -106.65114| AMA|   Amarillo, TX|       35.222|     -101.8313|     277|   5.0|   15.0|        0|               N|       0|         0.0|         0.0|     9.0|          0.0|             78.0|
|2008|    1|         4|        5| 1332.0|      1325| 1437.0|      1440|           WN|      182| N313SW|             65.0|          75.0|   54.0|    -3.0|     7.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1020.0|      1005| 1128.0|      1120|           WN|      733| N650SW|             68.0|          75.0|   58.0|     8.0|    15.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1831.0|      1820| 1941.0|      1935|           WN|     1861| N783SW|             70.0|          75.0|   57.0|     6.0|    11.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1758.0|      1750| 2051.0|      2040|           WN|     2036| N660SW|            113.0|         110.0|  100.0|    11.0|     8.0|   BHM| Birmingham, AL|       33.52066|       -86.80249| BWI|  Baltimore, MD|     39.29038|     -76.61219|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5|  836.0|       830|  943.0|       940|           WN|      922| N650SW|             67.0|          70.0|   55.0|     3.0|     6.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   2.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1652.0|      1645| 1755.0|      1755|           WN|     1774| N783SW|             63.0|          70.0|   51.0|     0.0|     7.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   5.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1035.0|      1025| 1143.0|      1135|           WN|     3569| N276WN|             68.0|          70.0|   53.0|     8.0|    10.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1828.0|      1805| 1917.0|      1915|           WN|      623| N757LV|            109.0|         130.0|   97.0|     2.0|    23.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     33.52066|     -86.80249|     682|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         4|        5| 1317.0|      1310| 1401.0|      1420|           WN|     1857| N280WN|            104.0|         130.0|   95.0|   -19.0|     7.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     33.52066|     -86.80249|     682|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 2001.0|      1845| 2150.0|      2040|           WN|      746| N412WN|             49.0|          55.0|   39.0|    70.0|    76.0|   ABQ|Albuquerque, NM|       35.08449|      -106.65114| AMA|   Amarillo, TX|       35.222|     -101.8313|     277|   4.0|    6.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             67.0|
|2008|    1|         5|        6| 1124.0|      1005| 1227.0|      1120|           WN|      733| N794SW|             63.0|          75.0|   50.0|    67.0|    79.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   3.0|   10.0|        0|               N|       0|        67.0|         0.0|     0.0|          0.0|              0.0|
|2008|    1|         5|        6| 1544.0|      1515| 1654.0|      1630|           WN|     3046| N723SW|             70.0|          75.0|   56.0|    24.0|    29.0|   ALB|     Albany, NY|       42.65258|       -73.75623| BWI|  Baltimore, MD|     39.29038|     -76.61219|     288|   4.0|   10.0|        0|               N|       0|        11.0|         0.0|     0.0|          0.0|             13.0|
|2008|    1|         5|        6| 1426.0|      1415| 1832.0|      1815|           WN|     1001| N366SW|            186.0|         180.0|  164.0|    17.0|    11.0|   AUS|     Austin, TX|       30.26715|       -97.74306| BWI|  Baltimore, MD|     39.29038|     -76.61219|    1342|   4.0|   18.0|        0|               N|       0|         0.0|         0.0|     6.0|          0.0|             11.0|
|2008|    1|         5|        6| 1806.0|      1750| 2047.0|      2040|           WN|     2036| N614SW|            101.0|         110.0|   88.0|     7.0|    16.0|   BHM| Birmingham, AL|       33.52066|       -86.80249| BWI|  Baltimore, MD|     39.29038|     -76.61219|     682|   3.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1508.0|      1425| 1719.0|      1655|           WN|      644| N737JW|            251.0|         270.0|  237.0|    24.0|    43.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ABQ|Albuquerque, NM|     35.08449|    -106.65114|    1670|   5.0|    9.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             16.0|
|2008|    1|         5|        6| 1808.0|      1755| 1909.0|      1905|           WN|      236| N708SA|             61.0|          70.0|   49.0|     4.0|    13.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   3.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1359.0|      1340| 1506.0|      1450|           WN|      323| N723SW|             67.0|          70.0|   53.0|    16.0|    19.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| ALB|     Albany, NY|     42.65258|     -73.75623|     288|   3.0|   11.0|        0|               N|       0|         6.0|         0.0|     0.0|          0.0|             10.0|
|2008|    1|         5|        6| 1433.0|      1420| 1700.0|      1710|           WN|      160| N264LV|            207.0|         230.0|  196.0|   -10.0|    13.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| AUS|     Austin, TX|     30.26715|     -97.74306|    1342|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
|2008|    1|         5|        6| 1814.0|      1805| 1910.0|      1915|           WN|      623| N624SW|            116.0|         130.0|  105.0|    -5.0|     9.0|   BWI|  Baltimore, MD|       39.29038|       -76.61219| BHM| Birmingham, AL|     33.52066|     -86.80249|     682|   4.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+---------------+---------------+----------------+----+---------------+-------------+--------------+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

--- 3.1630425453186035 seconds ---

In [ ]:
# Write a sql (we used a CTE here) that does some aggregations on the new data.  The purpose of this SQL is to add some processing time.
# Note the runtime
start_time = time.time()

spark.sql("""
with allColumns
(select /*+ BROADCAST(lookup_geo) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
geo.latitude as Origin_latitude,
geo.longitude as Origin_longitude,
a.Dest,
c.City as Dest_City,
geo_dest.latitude as Dest_latitude,
geo_dest.longitude as Dest_longitude,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
  inner join lookup_geo geo
on split(b.City,',')[0]=geo.name
     and trim(split(b.City,',')[1])=geo.admin1_code
  inner join lookup_geo geo_dest
    on c.City=concat(geo_dest.name,', ',geo_dest.admin1_code)
)
select Origin_City, avg(CarrierDelay) avgCarrierDelay from allColumns group by 1
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+------------------+
|      Origin_City|   avgCarrierDelay|
+-----------------+------------------+
|  Albuquerque, NM| 18.31268436578171|
|       Austin, TX|25.133111480865225|
|     Amarillo, TX|              34.3|
|  Baton Rouge, LA| 40.45161290322581|
|    Allentown, PA|31.496688741721854|
|    Asheville, NC|31.566101694915254|
|  Bloomington, IL|21.365470852017935|
|    Anchorage, AK| 24.98989898989899|
|    Baltimore, MD|  15.7993145468393|
|      Atlanta, GA| 24.09317927692881|
|       Bangor, ME|34.068627450980394|
|      Augusta, GA|26.899313501144164|
|       Albany, GA|  26.4811320754717|
|      Bozeman, MT|            18.125|
|        Aspen, CO|               6.0|
|       Albany, NY|17.217179902755266|
|       Boston, MA|15.216697936210132|
|        Akron, OH|  20.0124716553288|
|Atlantic City, NJ|             106.3|
|   Birmingham, AL|19.541315345699832|
+-----------------+------------------+
only showing top 20 rows

--- 10.633858919143677 seconds ---

In [ ]:
# Cache your largest temporary view
# Note: when we use SparkSQL to cache a table, the table is immediately cached (no lazy evaluation), when using Pyspark it will not be cached until an action is ran.
spark.sql("cache table delayed")

DataFrame[]

In [ ]:
# Check that your table is cached 
spark.catalog.isCached("delayed")

True

In [ ]:
# Run the same query again with the data cached. This should greatly improve the run time.  
# Keep in mind we are not working with particularly large data here so the improvements may not be dramatic.

start_time = time.time()

spark.sql("""
with allColumns
(select /*+ BROADCAST(lookup_geo) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
geo.latitude as Origin_latitude,
geo.longitude as Origin_longitude,
a.Dest,
c.City as Dest_City,
geo_dest.latitude as Dest_latitude,
geo_dest.longitude as Dest_longitude,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
  inner join lookup_geo geo
on split(b.City,',')[0]=geo.name
     and trim(split(b.City,',')[1])=geo.admin1_code
  inner join lookup_geo geo_dest
    on c.City=concat(geo_dest.name,', ',geo_dest.admin1_code)
)
select Origin_City, avg(ArrDelay) avgDelay from allColumns group by 1
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+------------------+
|      Origin_City|          avgDelay|
+-----------------+------------------+
|  Albuquerque, NM| 34.16695059625213|
|       Austin, TX| 44.39871382636656|
|     Amarillo, TX| 42.94736842105263|
|  Baton Rouge, LA| 63.06401137980085|
|    Allentown, PA|            50.192|
|    Asheville, NC| 58.58413461538461|
|  Bloomington, IL| 50.65745007680491|
|    Anchorage, AK| 36.90522875816993|
|    Baltimore, MD| 41.57686980609418|
|      Atlanta, GA| 41.65309675814609|
|       Bangor, ME| 53.30357142857143|
|      Augusta, GA|61.791666666666664|
|       Albany, GA|50.907534246575345|
|      Bozeman, MT| 44.65217391304348|
|        Aspen, CO|              52.8|
|       Albany, NY| 43.70686070686071|
|       Boston, MA| 50.85264194289465|
|        Akron, OH|53.393058918482645|
|Atlantic City, NJ| 64.64285714285714|
|   Birmingham, AL|46.458149779735685|
+-----------------+------------------+
only showing top 20 rows

--- 4.07237982749939 seconds ---

In [ ]:
# you can even cache a large lookup table.
spark.sql("cache table lookup_geo")

DataFrame[]

In [ ]:
# Run the same query again with the data cached. This should greatly improve the run time.

start_time = time.time()

spark.sql("""
with allColumns
(select /*+ BROADCAST(lookup_geo) */ 
a.Year,
a.Month,
a.DayofMonth,
a.DayOfWeek,
a.DepTime,
a.CRSDepTime,
a.ArrTime,
a.CRSArrTime,
a.UniqueCarrier,
a.FlightNum,
a.TailNum,
a.ActualElapsedTime,
a.CRSElapsedTime,
a.AirTime,
a.ArrDelay,
a.DepDelay,
a.Origin,
b.City as Origin_City,
geo.latitude as Origin_latitude,
geo.longitude as Origin_longitude,
a.Dest,
c.City as Dest_City,
geo_dest.latitude as Dest_latitude,
geo_dest.longitude as Dest_longitude,
a.Distance,
a.TaxiIn,
a.TaxiOut,
a.Cancelled,
a.CancellationCode,
a.Diverted,
a.CarrierDelay,
a.WeatherDelay,
a.NASDelay,
a.SecurityDelay,
a.LateAircraftDelay from  delayed a 
  inner join lookup_city b
    on a.Origin=b.airportCode
  inner join lookup_city c
    on a.Dest=c.airportCode
  inner join lookup_geo geo
on split(b.City,',')[0]=geo.name
     and trim(split(b.City,',')[1])=geo.admin1_code
  inner join lookup_geo geo_dest
    on c.City=concat(geo_dest.name,', ',geo_dest.admin1_code)
)
select Origin_City, avg(ArrDelay) avgDelay from allColumns group by 1
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------------+------------------+
|      Origin_City|          avgDelay|
+-----------------+------------------+
|  Albuquerque, NM| 34.16695059625213|
|       Austin, TX| 44.39871382636656|
|     Amarillo, TX| 42.94736842105263|
|  Baton Rouge, LA| 63.06401137980085|
|    Allentown, PA|            50.192|
|    Asheville, NC| 58.58413461538461|
|  Bloomington, IL| 50.65745007680491|
|    Anchorage, AK| 36.90522875816993|
|    Baltimore, MD| 41.57686980609418|
|      Atlanta, GA| 41.65309675814609|
|       Bangor, ME| 53.30357142857143|
|      Augusta, GA|61.791666666666664|
|       Albany, GA|50.907534246575345|
|      Bozeman, MT| 44.65217391304348|
|        Aspen, CO|              52.8|
|       Albany, NY| 43.70686070686071|
|       Boston, MA| 50.85264194289465|
|        Akron, OH|53.393058918482645|
|Atlantic City, NJ| 64.64285714285714|
|   Birmingham, AL|46.458149779735685|
+-----------------+------------------+
only showing top 20 rows

--- 2.1907601356506348 seconds ---

In [ ]:
# Remember to uncache the table as soon as you are done.
spark.sql("uncache table delayed")
spark.sql("uncache table lookup_geo")

DataFrame[]

In [ ]:
# Verify that the table is no longer cached
if spark.catalog.isCached("delayed") or spark.catalog.isCached("lookup_geo"):
  print("a table is till cached")
else:
  print("all clear")

all clear