In [1]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,006 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,047 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,521 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,861 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,298 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,297 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Fetched 12.4 MB in 5s (2,712 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-5/DelayedFlights.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("DelayedFlights.csv"), sep=",", header=True)
df.show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|2008|    1|         3|        4| 2003.0|      1955| 2211.0|      2225|           WN|      335| N712SW|            128.0|         150.0|  116.0|   -14.0|     8.0|   IAD| TPA|     810|   4.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  1|2008|    1|         3|        4|  754.0|       735| 1002.0|      1000|           WN|     3231| N772SW|            128.0|         145.0|  113.0|     2.0|    19.0|   IAD| TPA|     810|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  2|2008|    1|         3|        4|  628.0|       620|  804.0|       750|           WN|      448| N428WN|             96.0|          90.0|   76.0|    14.0|     8.0|   IND| BWI|     515|   3.0|   17.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  4|2008|    1|         3|        4| 1829.0|      1755| 1959.0|      1925|           WN|     3920| N464WN|             90.0|          90.0|   77.0|    34.0|    34.0|   IND| BWI|     515|   3.0|   10.0|        0|               N|       0|         2.0|         0.0|     0.0|          0.0|             32.0|
|  5|2008|    1|         3|        4| 1940.0|      1915| 2121.0|      2110|           WN|      378| N726SW|            101.0|         115.0|   87.0|    11.0|    25.0|   IND| JAX|     688|   4.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  6|2008|    1|         3|        4| 1937.0|      1830| 2037.0|      1940|           WN|      509| N763SW|            240.0|         250.0|  230.0|    57.0|    67.0|   IND| LAS|    1591|   3.0|    7.0|        0|               N|       0|        10.0|         0.0|     0.0|          0.0|             47.0|
| 10|2008|    1|         3|        4|  706.0|       700|  916.0|       915|           WN|      100| N690SW|            130.0|         135.0|  106.0|     1.0|     6.0|   IND| MCO|     828|   5.0|   19.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 11|2008|    1|         3|        4| 1644.0|      1510| 1845.0|      1725|           WN|     1333| N334SW|            121.0|         135.0|  107.0|    80.0|    94.0|   IND| MCO|     828|   6.0|    8.0|        0|               N|       0|         8.0|         0.0|     0.0|          0.0|             72.0|
| 15|2008|    1|         3|        4| 1029.0|      1020| 1021.0|      1010|           WN|     2272| N263WN|             52.0|          50.0|   37.0|    11.0|     9.0|   IND| MDW|     162|   6.0|    9.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 16|2008|    1|         3|        4| 1452.0|      1425| 1640.0|      1625|           WN|      675| N286WN|            228.0|         240.0|  213.0|    15.0|    27.0|   IND| PHX|    1489|   7.0|    8.0|        0|               N|       0|         3.0|         0.0|     0.0|          0.0|             12.0|
| 17|2008|    1|         3|        4|  754.0|       745|  940.0|       955|           WN|     1144| N778SW|            226.0|         250.0|  205.0|   -15.0|     9.0|   IND| PHX|    1489|   5.0|   16.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 18|2008|    1|         3|        4| 1323.0|      1255| 1526.0|      1510|           WN|        4| N674AA|            123.0|         135.0|  110.0|    16.0|    28.0|   IND| TPA|     838|   4.0|    9.0|        0|               N|       0|         0.0|         0.0|     0.0|          0.0|             16.0|
| 19|2008|    1|         3|        4| 1416.0|      1325| 1512.0|      1435|           WN|       54| N643SW|             56.0|          70.0|   49.0|    37.0|    51.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        12.0|         0.0|     0.0|          0.0|             25.0|
| 21|2008|    1|         3|        4| 1657.0|      1625| 1754.0|      1735|           WN|      623| N724SW|             57.0|          70.0|   47.0|    19.0|    32.0|   ISP| BWI|     220|   5.0|    5.0|        0|               N|       0|         7.0|         0.0|     0.0|          0.0|             12.0|
| 22|2008|    1|         3|        4| 1900.0|      1840| 1956.0|      1950|           WN|      717| N786SW|             56.0|          70.0|   49.0|     6.0|    20.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 23|2008|    1|         3|        4| 1039.0|      1030| 1133.0|      1140|           WN|     1244| N714CB|             54.0|          70.0|   47.0|    -7.0|     9.0|   ISP| BWI|     220|   2.0|    5.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 25|2008|    1|         3|        4| 1520.0|      1455| 1619.0|      1605|           WN|     2553| N394SW|             59.0|          70.0|   50.0|    14.0|    25.0|   ISP| BWI|     220|   2.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 26|2008|    1|         3|        4| 1422.0|      1255| 1657.0|      1610|           WN|      188| N215WN|            155.0|         195.0|  143.0|    47.0|    87.0|   ISP| FLL|    1093|   6.0|    6.0|        0|               N|       0|        40.0|         0.0|     0.0|          0.0|              7.0|
| 27|2008|    1|         3|        4| 1954.0|      1925| 2239.0|      2235|           WN|     1754| N243WN|            165.0|         190.0|  155.0|     4.0|    29.0|   ISP| FLL|    1093|   3.0|    7.0|        0|               N|       0|        null|        null|    null|         null|             null|
| 30|2008|    1|         3|        4| 2107.0|      1945| 2334.0|      2230|           WN|      362| N798SW|            147.0|         165.0|  134.0|    64.0|    82.0|   ISP| MCO|     972|   6.0|    7.0|        0|               N|       0|         5.0|         0.0|     0.0|          0.0|             59.0|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [4]:
#Create temp view named "delays"
df.createOrReplaceTempView('delays')
# Start the runtime
start_time = time.time()
# Using spark.sql write a query that gives you the total distance and the count of every unique Origin, Dest combination
spark.sql("""select Origin, Dest ,sum(Distance), count(*) from delays group by 1,2""").show()
# Print out the runtime.
print("--- %s seconds ---" % (time.time() - start_time))

+------+----+-----------------------------+--------+
|Origin|Dest|sum(CAST(Distance AS DOUBLE))|count(1)|
+------+----+-----------------------------+--------+
|   LAS| LIT|                     147630.0|     114|
|   PHL| MCO|                    1841679.0|    2139|
|   SMF| BUR|                     297140.0|     830|
|   SNA| PHX|                     400868.0|    1186|
|   MCI| IAH|                     267488.0|     416|
|   BFL| SAN|                       5590.0|      26|
|   ROC| CLE|                      78400.0|     320|
|   SPI| ORD|                      55158.0|     317|
|   ATL| GSP|                     107406.0|     702|
|   SFO| PMD|                      67940.0|     215|
|   LAX| OXR|                      10241.0|     209|
|   ORD| PDX|                    1721610.0|     990|
|   PBI| DCA|                     170543.0|     199|
|   FSD| ATL|                      56286.0|      59|
|   MLI| MCO|                      50764.0|      49|
|   MSP| AVL|                      44772.0|      52|
|   BQN| MCO|                     112900.0|     100|
|   EWR| STT|                     117648.0|      72|
|   CLE| SJU|                      16551.0|       9|
|   MCI| MKE|                        436.0|       1|
+------+----+-----------------------------+--------+
only showing top 20 rows

--- 7.824085712432861 seconds ---

In [5]:
# Write out the data in parquet format
df.write.parquet('parquet_delay_basic',mode='overwrite')

In [6]:
# Read in our new parquet formatted data
p_df=spark.read.parquet('parquet_delay_basic')

In [7]:
# Convert the dataframe to a view.
p_df.createOrReplaceTempView('p_delays')

In [8]:
# Start the runtime
start_time = time.time()

# Run the same query here

spark.sql("""select Origin, Dest ,sum(Distance), count(*) from p_delays group by 1,2""").show()
# Print out the runtime
print("--- %s seconds ---" % (time.time() - start_time))

+------+----+-----------------------------+--------+
|Origin|Dest|sum(CAST(Distance AS DOUBLE))|count(1)|
+------+----+-----------------------------+--------+
|   LAS| LIT|                     147630.0|     114|
|   PHL| MCO|                    1841679.0|    2139|
|   SMF| BUR|                     297140.0|     830|
|   SNA| PHX|                     400868.0|    1186|
|   MCI| IAH|                     267488.0|     416|
|   BFL| SAN|                       5590.0|      26|
|   ROC| CLE|                      78400.0|     320|
|   SPI| ORD|                      55158.0|     317|
|   ATL| GSP|                     107406.0|     702|
|   SFO| PMD|                      67940.0|     215|
|   LAX| OXR|                      10241.0|     209|
|   ORD| PDX|                    1721610.0|     990|
|   PBI| DCA|                     170543.0|     199|
|   FSD| ATL|                      56286.0|      59|
|   MLI| MCO|                      50764.0|      49|
|   MSP| AVL|                      44772.0|      52|
|   BQN| MCO|                     112900.0|     100|
|   EWR| STT|                     117648.0|      72|
|   CLE| SJU|                      16551.0|       9|
|   MCI| MKE|                        436.0|       1|
+------+----+-----------------------------+--------+
only showing top 20 rows

--- 2.251413345336914 seconds ---

In [9]:
# Write out your parquet data, partitioning on the Origin column
df.write.partitionBy("Origin").mode("overwrite").parquet("delayed_partitioned")

In [10]:
# Read in our new parquet formatted data
p_df_p=spark.read.parquet('delayed_partitioned')

In [11]:
# Convert the dataframe to a view.
p_df_p.createOrReplaceTempView('p_delays_p')

In [12]:
# Start the runtime
start_time = time.time()

# Run your query against your partitioned data one more time.
spark.sql("""select Origin, Dest ,sum(Distance), count(*) from p_delays_p group by 1,2""").show()
# Print out the runtime
print("--- %s seconds ---" % (time.time() - start_time))

+------+----+-----------------------------+--------+
|Origin|Dest|sum(CAST(Distance AS DOUBLE))|count(1)|
+------+----+-----------------------------+--------+
|   ATL| GSP|                     107406.0|     702|
|   ORD| PDX|                    1721610.0|     990|
|   LAX| OXR|                      10241.0|     209|
|   LAS| LIT|                     147630.0|     114|
|   EWR| STT|                     117648.0|      72|
|   SFO| PMD|                      67940.0|     215|
|   MSP| AVL|                      44772.0|      52|
|   PHL| MCO|                    1841679.0|    2139|
|   CLE| SJU|                      16551.0|       9|
|   MCI| MKE|                        436.0|       1|
|   MCI| IAH|                     267488.0|     416|
|   SMF| BUR|                     297140.0|     830|
|   SNA| PHX|                     400868.0|    1186|
|   PBI| DCA|                     170543.0|     199|
|   ROC| CLE|                      78400.0|     320|
|   MLI| MCO|                      50764.0|      49|
|   FSD| ATL|                      56286.0|      59|
|   BFL| SAN|                       5590.0|      26|
|   AVP| JFK|                        113.0|       1|
|   SPI| ORD|                      55158.0|     317|
+------+----+-----------------------------+--------+
only showing top 20 rows

--- 4.531711578369141 seconds ---

In [13]:
# Start  the runtime
start_time = time.time()
# Filter the data on something that selects your partition choice.
spark.sql("""Select distinct Origin, TailNum from p_delays where TailNum='N712SW' """).show()
# Print out the runtime.
print("--- %s seconds ---" % (time.time() - start_time))

+------+-------+
|Origin|TailNum|
+------+-------+
|   MSY| N712SW|
|   RNO| N712SW|
|   RDU| N712SW|
|   MDW| N712SW|
|   IAD| N712SW|
|   ABQ| N712SW|
|   STL| N712SW|
|   MHT| N712SW|
|   BUR| N712SW|
|   PIT| N712SW|
|   MCO| N712SW|
|   JAX| N712SW|
|   HRL| N712SW|
|   TPA| N712SW|
|   CMH| N712SW|
|   BNA| N712SW|
|   IND| N712SW|
|   SNA| N712SW|
|   SMF| N712SW|
|   JAN| N712SW|
+------+-------+
only showing top 20 rows

--- 2.1195805072784424 seconds ---

In [14]:
# Start  the runtime
start_time = time.time()
# Filter the data on something that has nothing to do with your partition choice.
spark.sql("""Select distinct Dest, TailNum from p_delays_p where TailNum='N712SW' """).show()
# Print out the runtime.
print("--- %s seconds ---" % (time.time() - start_time))

+----+-------+
|Dest|TailNum|
+----+-------+
| MSY| N712SW|
| RNO| N712SW|
| RDU| N712SW|
| MDW| N712SW|
| IAD| N712SW|
| ABQ| N712SW|
| STL| N712SW|
| MHT| N712SW|
| BUR| N712SW|
| PIT| N712SW|
| MCO| N712SW|
| JAX| N712SW|
| HRL| N712SW|
| TPA| N712SW|
| CMH| N712SW|
| BNA| N712SW|
| IND| N712SW|
| SNA| N712SW|
| SMF| N712SW|
| JAN| N712SW|
+----+-------+
only showing top 20 rows

--- 3.8938913345336914 seconds ---