In [36]:
# Import dependencies
import pandas as pd
import itertools

### Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

In [5]:
pd.set_option('max_colwidth', 400)

In [87]:
# Read the data into a Pandas DataFrame
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df

                                                                                                  contact_info
0                     {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1                            {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2                              {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3                    {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4                          {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
..                                                                                                         ...
995                   {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
996             {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
997  {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
998                       {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
999                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

[1000 rows x 1 columns]

### Use Pandas to extract the contact data.

In [161]:
# Iterate through the contact_info_df and convert each row to a dictionary.
for row_dict in contact_info_df:
    ci = contact_info_df.to_dict()

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
newlist = []
for value in ci:
    value.append(newlist)
    # Append the list of values for each row to a list. 


# Print out the list of values for each row.

AttributeError: 'str' object has no attribute 'append'

In [110]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [109]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contact_info = {'contact_id': [], 'name': [], 'email': []}

ci_df = pd.DataFrame([newlist], columns = ['contact_id', 'name', 'email'])

ci_df

ValueError: 3 columns passed, passed data had 12000 columns

In [6]:
# Check the datatypes of each column.

In [7]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [8]:
# Reorder the columns

In [9]:
# Check the datatypes a final time before exporting as a CSV file.

In [10]:
# Export the DataFrame as a CSV file. 
# df.to_csv("contacts.csv", index=False)

### Use regex to extract the contact data.

In [11]:
pd.set_option('max_colwidth', 400)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [12]:
# Extract the four-digit contact ID number.

In [13]:
# Check the datatypes

In [14]:
# Convert the "contact_id" column to an int64 data type.

In [15]:
# Extract the name of the contact and add it to a new column.

In [16]:
# Extract the email from the contacts and add the values to a new column.

In [17]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [18]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [19]:
# Reorder the columns

In [20]:
# Check the datatypes one more time before exporting as a CSV file.